﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AddTaskControl.ascx.cs"
    Inherits="Support_AddTaskControl" %>
<script type="text/javascript">
    $(function () {

        getForm = function () {
            return $("#addtask");
        }

        $("#DateDue").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#DateCompleted").datepicker({ dateFormat: 'dd/mm/yy' });

        getTargetUrl = function () {
            return '<%= ToVirtual("~/Support/ViewTaskPage.aspx","SaveTask") %>';
        }

        getLocalRules = function () {
            return {};
        }

        getLocalMessages = function () {
            return {};
        }

    });
</script>
<p id="message" style="display: none;">
    All fields must be completed
</p>
<form id="addtask" name="addtask" method="post" action="<%= System.Web.VirtualPathUtility.ToAbsolute("~/Support/ViewTaskPage.aspx") %>/SaveTask">
<div class="inputArea">
    <input type="hidden" id="TaskId" value="<%= GetTaskId %>" />
    <input type="hidden" name="ParentTask" id="TaskId" value="<%= GetParentTaskId %>" />
    <% if (_state == TaskState.Create | (_state == TaskState.Edit))
       { %>
    <fieldset>
        <label>
            Task Description
        </label>
        <textarea rows="5" id="Description" <%= ReadOnly %>><%= GetDescription%></textarea>
        <label>
            Action Needed
        </label>
        <textarea rows="5" id="ActionNeeded" <%= ReadOnly %>><%= GetActionNeeded%></textarea>
        <label>
            Reference
        </label>
        <input type="text" id="Ref" value="<%= GetRef %>" <%= ReadOnly %> />
    </fieldset>
    <% } if (_state == TaskState.Create | (_state == TaskState.Edit))
       { %>
    <fieldset>
        <label>
            Date Due
        </label>
        <input type="datetext" name="DateDue" id="DateDue" value="<%= GetDateDue %>" <%= ReadOnly %> />
        <label>
            Assigned To
        </label>
        <select name="AssignedToUser" id="UserId">
            <%= GetAssignedToUserList()%>
        </select>
        <label>
            Priority
        </label>
        <select name="Xlk_Priority" id="PriorityId">
            <%= GetPriorityList()%>
        </select>
    </fieldset>
    <% } if (_state == TaskState.Close && _childBlockingTasks.Count == 0)
       { %>
    <fieldset>
        <label>
            Status
        </label>
        <select name="Xlk_Status" id="StatusId">
            <%= GetStatusList()%>
        </select>
        <label>
            Action Taken
        </label>
        <textarea rows="5" id="ActionTaken"><%= GetActionTaken%></textarea>
    </fieldset>
    <% }
        else if (_childBlockingTasks != null && _childBlockingTasks.Count > 0)
        { %>
        <p>This task cannot be closed. The following tasks must be completed first!</p>
    <table class="box-table-a"><thead><tr><th>Blocking Tasks</th><th>Assigned To</th><th>Date Due</th></tr></thead><tbody>
        <%
           foreach (Pace.DataAccess.Support.Task task in _childBlockingTasks)
           {
           %> 
           <tr><td><%= task.Description %></td><td><%= task.AssignedToUser.Name %></td><td><%= task.DateDue %></td></tr>
           <%
           }
        %>
    </tbody></table>
    <% } %>
</div>
</form>
