﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"
    CodeFile="DocumentsPage.aspx.cs" Inherits="DocumentsPage" %>

<asp:Content ID="script" ContentPlaceHolderID="head" runat="server">
    <script type="text/javascript" language="javascript">
        $(function () {
            $("table").tablesorter();


            $("#<%= repeat.ClientID %>").buttonset();

            refreshCurrentTab = function () {
                location.reload();
            }

            // a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
            $("#dialog:ui-dialog").dialog("destroy");

            var addtag = $("#addtag"), Id,
                deletetag = $("#deletetag")
            allFields = $([]).add(addtag).add(deletetag);

            function checkLength(o, n, min, max) {
                if (o.val().length > max || o.val().length < min) {
                    o.addClass("ui-state-error");
                    updateTips("Length of " + n + " must be between " +
					min + " and " + max + ".");
                    return false;
                } else {
                    return true;
                }
            }


            $("#dialog-tag-form").dialog({
                autoOpen: false,
                height: 300,
                width: 350,
                modal: true,
                buttons: {
                    "Add tag": function () {
                        var bValid = true;
                        allFields.removeClass("ui-state-error");
                        bValid = bValid && checkLength(addtag, "tag", 2, 50);
                        if (bValid) {
                            $.ajax({
                                type: "POST",
                                url: "DocumentsPage.aspx/AddDocumentTag",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                data: "{'id':" + Id + ",'tag':'" + addtag.val() + "'}",
                                success: function (msg) {
                                    if (msg.d != null) {
                                        if (msg.d.Success) {
                                            $("#dialog-form").dialog("close");
                                            location.reload();
                                        }
                                        else
                                            alert(msg.d.ErrorMessage);
                                    }
                                    else
                                        alert("No Response, please contact admin to check!");
                                }
                            });
                        }
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    allFields.val("").removeClass("ui-state-error");
                }
            });

            $("#delete-tag-form").dialog({
                autoOpen: false,
                height: 300,
                width: 350,
                modal: true,
                buttons: {
                    "Delete tag": function () {
                        allFields.removeClass("ui-state-error");
                        $.ajax({
                            type: "POST",
                            url: "DocumentsPage.aspx/DeleteTag",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: "{'id':" + Id + ",'tag':'" + deletetag.val() + "'}",
                            success: function (msg) {
                                if (msg.d != null) {
                                    if (msg.d.Success) {
                                        $("#dialog-form").dialog("close");
                                        location.reload();
                                    }
                                    else
                                        alert(msg.d.ErrorMessage);
                                }
                                else
                                    alert("No Response, please contact admin to check!");
                            }
                        });
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    allFields.val("").removeClass("ui-state-error");
                }
            });

            showTagDialog = function (id) {
                Id = id;
                $("#dialog-tag-form").dialog("open");
            }

            showDeleteTagDialog = function (id) {
                Id = id;
                $("#delete-tag-form").dialog("open");
            }

            loadTags = function (id) {
                Id = id;
                $.ajax({
                    type: "POST",
                    url: "DocumentsPage.aspx/LoadTags",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: "{'id':" + id + "}",
                    success: function (msg) {
                        if (msg.d != null) {
                            if (msg.d.Success) {
                                $("#deletetag").html(msg.d.Payload);
                                $("#delete-tag-form").dialog("open");
                            }
                            else
                                alert(msg.d.ErrorMessage);
                        }
                        else
                            alert("No Response, please contact admin to check!");
                    }
                });
            }
        });
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="maincontent" runat="Server">
    <asp:Label ID="newPageName" runat="server" Text="Documents Page" BorderStyle="None" Visible="false"></asp:Label> <!-- Page Name -->
    <div id="searchcontainer">
        <table id="search-table">
            <tbody>
                <tr>
                    <td>
                        Browse By
                    </td>
                    <td>
                        <asp:DropDownList ID="category" runat="server" DataTextField="Description" DataValueField="CategoryId"
                            OnSelectedIndexChanged="category_SelectedIndexChanged" AutoPostBack="True" OnDataBound="category_DataBound">
                        </asp:DropDownList>
                    </td>
                    <td>
                        Then By
                    </td>
                    <td>
                        <asp:DropDownList ID="type" runat="server" DataTextField="Description" DataValueField="TypeId"
                            AutoPostBack="True" OnSelectedIndexChanged="type_SelectedIndexChanged" OnDataBound="type_DataBound">
                        </asp:DropDownList>
                    </td>
                    <td>
                        Or Filter By
                    </td>
                    <td>
                        <asp:TextBox ID="searchstring" runat="server"></asp:TextBox>
                    </td>
                    <td>
                        <asp:LinkButton ID="search" runat="server" OnClick="search_Click" class="button"><span>Search</span>
                        </asp:LinkButton>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="resultscontainer">
        <span id="repeat" runat="server" repeatdirection="Horizontal">
            <asp:LinkButton ID="LinkButton2" PostBackUrl="~/Documents/DocumentsPage.aspx" runat="server"
                OnClick="search_Click"><span>Search Results</span></asp:LinkButton>
            <% foreach (Pace.DataAccess.Documents.Xlk_Category category in LoadCategories())
               { %>
            <a href="?Action=<%= category.Description.ToLower() %>">
                <%= category.Description %></a>
            <% } %>
        </span><span style="float: right;"><a onclick="loadEditArrayControl('#dialog-form','DocumentsPage.aspx','Documents/AddDocumentControl.ascx',null)"
            href="#">
            <img src="../Content/img/actions/add.png">
            Add New Document </a>
            <asp:Label ID="resultsreturned" runat="server" Text='Records Found: 0'>
            </asp:Label></span>
        <table id="box-table-a" class="tablesorter">
            <thead>
                <tr>
                    <th scope="col">
                        Id
                    </th>
                    <th scope="col">
                        Document
                    </th>
                    <th scope="col">
                        File Name
                    </th>
                    <th scope="col">
                        Location
                    </th>
                    <th scope="col">
                        Tags
                    </th>
                    <th scope="col">
                        Click to open
                    </th>
                    <th scope="col">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <asp:Repeater ID="results" runat="server" EnableViewState="True">
                    <ItemTemplate>
                        <tr>
                            <td>
                                <%#DataBinder.Eval(Container.DataItem, "DocId")%>
                            </td>
                            <td id="ttlClick" onclick="LineClicked">
                                <%#DataBinder.Eval(Container.DataItem, "Title")%>
                            </td>
                            <td style="font-weight: bold">
                                <%#DataBinder.Eval(Container.DataItem, "FileName")%>
                            </td>
                            <td>
                                <%#DataBinder.Eval(Container.DataItem, "Path")%>
                            </td>
                            <td style="text-align: center">
                                <a href="#" onclick="loadTags('<%#DataBinder.Eval(Container.DataItem, "DocId") %>');">
                                    <%# CreateTagList(DataBinder.Eval(Container.DataItem, "DocumentTags"))%></a> <a href="#" onclick="showTagDialog('<%#DataBinder.Eval(Container.DataItem, "DocId") %>');">
                                        <img src="../Content/img/actions/add.png" /></a>
                            </td>
                            <td style="text-align: center">
                                <asp:HyperLink ID="netowrkLink" runat="server" Target="_blank" ImageUrl='<%#DataBinder.Eval(Container.DataItem, "Xlk_FileType.IconPath")%>'
                                    NavigateUrl='<%# CreateDirectUri(DataBinder.Eval(Container.DataItem,"Server.UNCPath"),DataBinder.Eval(Container.DataItem,"Path"),DataBinder.Eval(Container.DataItem,"FileName")) %>'
                                    ToolTip='<%#DataBinder.Eval(Container.DataItem, "Description") %>'>
                                </asp:HyperLink>
                            </td>
                            <td style="text-align: center">
                                <a onclick="loadEditArrayControl('#dialog-form','DocumentsPage.aspx','Documents/AddDocumentControl.ascx',{'DocId':<%#DataBinder.Eval(Container.DataItem, "DocId") %>})"
                                    href="#">
                                    <img src="../Content/img/actions/edit.png" />
                                </a>
                            </td>
                        </tr>
                    </ItemTemplate>
                </asp:Repeater>
            </tbody>
        </table>
    </div>
    <!-- Areas for showing in the dialog -->
    <div id="dialog-tag-form" title="Add new tag" style="display: none;">
        <p class="validateTips">
            All form fields are required.</p>
        <form>
        <fieldset>
            <label for="addtag">
                Tag</label>
            <input type="text" name="addtag" id="addtag" class="text ui-widget-content ui-corner-all" />
        </fieldset>
        </form>
    </div>
    <div id="delete-tag-form" title="Delete tag" style="display: none;">
        <p class="validateTips">
            All form fields are required.</p>
        <form>
        <fieldset>
            <label for="deletetag">
                Tag</label>
            <select name="deletetag" id="deletetag" class="text ui-widget-content ui-corner-all">
            </select>
        </fieldset>
        </form>
    </div>
</asp:Content>
