﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="NavigationControl.ascx.cs"
    Inherits="NavigationControl" %>
<%@ Import Namespace="System.Globalization" %>
<%@ Import Namespace="System.Collections.Generic" %>
<script type="text/javascript">
    $(function () {

        $("#<%= campuslist.ClientID %>").change(function (e) {
            setCampus($(this).val());

        });

        setCampus = function (campusid) {
            $.ajax({
                type: "POST",
                url: "<%= Page.ResolveUrl("~/HomePage.aspx") %>/SetCampusId",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ campusid: campusid }),
                success: function (msg) {
                    if (msg.d != null) {
                        if (msg.d.Success) {
                            location.reload();
                        }
                        else
                            alert(msg.d.ErrorMessage);
                    }
                    else
                        alert("No Response, please contact admin to check!");
                }
            });
        };
    });
</script>
<div id="navigation">
    <div id="company">
        <a href="<%= Page.ResolveUrl("~/HomePage.aspx") %>">
            <img src="<%= Page.ResolveUrl("~/Content/img/pacelogo.jpg") %>" /></a> <span class="appname">
                <img src="<%= Page.ResolveUrl("~/Content/img/PMLogo.jpg") %>" /></span>
        <asp:DropDownList ID="campuslist" CssClass="companyselector" runat="server" DataValueField="CampusId"
            DataTextField="Name">
        </asp:DropDownList>
    </div>
    <div class="menu">
        <ul>
            <li><a href="<%= Page.ResolveUrl("~/HomePage.aspx") %>">Home</a></li>
            <li class="hasSub"><a>Finance</a>
                <ul>
                    <li><a href="<%= Page.ResolveUrl("~/Finance/SageDataPage.aspx")%>">Sage Invoices Page</a></li>
                    <li><a href="<%= Page.ResolveUrl("~/Finance/ReceiptPaymentPage.aspx")%>">Accounts &amp;
                        Receipts</a></li>
                    <li><a href="<%=Page.ResolveUrl("~/Suppliers/InvoicesPage.aspx") %>">Supplier Invoices</a></li>
                    <li><a href="<%=Page.ResolveUrl("~/Suppliers/ManageInvoicePage.aspx") %>">New Supplier
                        Invoice</a></li>
                </ul>
            </li>
            <li class="hasSub"><a>Web site</a>
                <ul>
                    <li><a href="<%= Page.ResolveUrl("~/WebContent/ContentManagerPage.aspx") %>">Content Manager</a></li>
                    <li><a href="<%= Page.ResolveUrl("~/WebContent/SiteRequestPage.aspx") %>">Requests</a></li>
                </ul>
            </li>
            <li class="hasSub"><a>Office</a>
                <ul>
                    <li><a class="fly">Documents</a>
                        <ul class="level4">
                            <li><a href="<%= Page.ResolveUrl("~/Documents/DocumentsPage.aspx") %>">Search</a></li>
                            <li><a href="<%= Page.ResolveUrl("~/Documents/ManageDocumentPage.aspx") %>">Add</a></li>
                            <li><a class="fly">Quick Find</a>
                                <ul>
                                    <% foreach (Pace.DataAccess.Documents.Xlk_Category category in DocumentCategories())
                                       { %>
                                    <li><a href="<%= Page.ResolveUrl("~/Documents/DocumentsPage.aspx") %>?Action=<%= category.Description.ToLower() %>">
                                        <%= category.Description %></a></li>
                                    <% } %>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="fly">Contacts</a>
                        <ul class="level4">
                            <li><a href="<%= Page.ResolveUrl("~/Contacts/ContactsPage.aspx") %>">Search</a></li>
                            <li><a href="<%= Page.ResolveUrl("~/Contacts/ManageContactPage.aspx") %>">Add</a></li>
                            <li><a class="fly">Quick Find</a>
                                <ul>
                                    <% foreach (Pace.DataAccess.Contacts.Xlk_Category category in ContactCategories())
                                       { %>
                                    <li><a href="<%= Page.ResolveUrl("~/Contacts/ContactsPage.aspx") %>?Action=<%= category.Description.ToLower() %>">
                                        <%= category.Description %></a></li>
                                    <% } %>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="fly">Support</a>
                        <ul class="level4">
                            <li><a href="<%= Page.ResolveUrl("~/Support/TaskPage.aspx") %>">View Tasks</a></li>
                            <li><a href="<%= Page.ResolveUrl("~/Support/ViewTaskPage.aspx#viewTabs-2") %>">Add /
                                Manage Tasks</a></li>
                            <li><a href="<%= Page.ResolveUrl("~/Support/SchedulePage.aspx") %>">Schedules</a></li>
                            <li><a href="<%= Page.ResolveUrl("~/Support/TemplatePage.aspx") %>">Task Templates</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="hasSub"><a>Agents</a>
                <ul>
                    <li><a href="<%= Page.ResolveUrl("~/Agent/AgentPage.aspx") %>?action=current">Search</a></li>
                    <li><a href="<%= Page.ResolveUrl("~/Agent/ManageAgentPage.aspx") %>">Add</a></li>
                    <li><a href="<%= Page.ResolveUrl("~/Agent/QuotePage.aspx") %>">Quotes</a></li>
                    <li><a href="<%= Page.ResolveUrl("~/Agent/PricesPage.aspx") %>">Prices</a></li>
                </ul>
            </li>
            <li class="hasSub"><a>Academic</a>
                <ul>
                    <li><a class="fly">Class</a>
                        <ul>
                            <li><a href="<%=Page.ResolveUrl("~/Tuition/ClassPage.aspx?Action=current") %>">Search</a></li>
                            <li><a title="Add Student" href="#" onclick="loadEditArrayControlWithCallback('#dialog-form','<%= Page.ResolveUrl("~/Tuition/ViewClassPage.aspx") %>','Tuition/AddClassControl.ascx',{},null)">Add</a></li>
                            <li><a href="<%=Page.ResolveUrl("~/Tuition/ClassPlanPage.aspx") %>">Plan</a></li>
                        </ul>
                    </li>
                    <li><a href="<%=Page.ResolveUrl("~/Tuition/TeacherReservationPage.aspx") %>">Plan Teachers</a></li>
                    <li><a target="_blank" href="<%= BasePage.ReportPath("AcademicReports", "Academic_MondayStarters", "HTML4.0", new Dictionary<string, object> { { "Date", DateTime.Today } }) %>">
                        Monday Starters
                        </a></li>
                    <li><a class="fly">Course Books</a>
                        <ul>
                            <li><a href="#">Assign Course Book</a></li>
                            <li><a href="#">Return Course Book</a></li>
                            <li><a href="#">Rent/Lend Other Book</a></li>
                        </ul>
                    </li>
                    <li><a class="fly">Exams</a>
                        <ul>
                            <li><a href="<%= Page.ResolveUrl("~/Tuition/ExamsPage.aspx") %>">Search</a></li>
                            <li><a href="<%= Page.ResolveUrl("~/Tuition/ExamsPage.aspx") %>">Add</a></li>
                        </ul>
                    </li>
                    <li><a class="fly">Current Lesson Plans</a>
                        <%= BaseTuitionPage.LoadCurrentLessonPlans(699, 1) %>
                    </li>
                </ul>
            </li>
            <li class="hasSub"><a>Transport</a>
                <ul>
                    <li><a class="fly">Bookings</a>
                        <ul>
                            <li><a href="<%=Page.ResolveUrl("~/Transport/BookingsPage.aspx") %>">Search</a></li>
                            <li><a title="Add Booking" href="#" onclick="loadEditArrayControlWithCallback('#dialog-form','<%= Page.ResolveUrl("~/Transport/ViewBookingPage.aspx") %>','Transport/AddTransportBookingControl.ascx',{},null)">Add</a></li>
                            <li><a href="<%=Page.ResolveUrl("~/Transport/PlanBookingsPage.aspx") %>">Plan</a></li>
                        </ul>
                    </li>
                    <li><a class="fly">Suppliers</a>
                        <ul>
                            <li><a href="<%=Page.ResolveUrl("~/Transport/TransportSupplierPage.aspx") %>">Search</a></li>
                            <li><a>Add</a></li>
                        </ul>
                    </li>
                    <li><a class="fly">Transport Tickets</a>
                        <ul class="level4">
                            <li><a href="<%= Page.ResolveUrl("~/Enrollments/ManageBusTicketsPage.aspx") %>">Manage
                                Transport Tickets</a></li>
                        </ul>
                    </li>
                    <li><a class="fly">Transport Today</a>
                        <ul>
                            <% if (BaseTransportPage.TodaysTransport().Count() != 0) { 
                            foreach (Pace.DataAccess.Transport.Booking trBooking in BaseTransportPage.TodaysTransport())
                               { %>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("TransportReports", "Support_TransportBooking", "HTML4.0", new Dictionary<string, object> { { "BookingId", trBooking.BookingId } }) %>">
                                <%= trBooking.Title %>
                                </a></li>
                            <% }
                            } else { %>
                            <li><a href="#" title="No Transport Bookings Today">No Transport Bookings Today</a></li>
                            <% } %>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="hasSub"><a>Excursions</a>
                <ul>
                    <li><a class="fly">Bookings</a>
                        <ul>
                            <li><a href="<%=Page.ResolveUrl("~/Excursions/BookingsPage.aspx") %>">Search</a></li>
                            <li><a title="Add Booking" href="#" onclick="loadEditArrayControlWithCallback('#dialog-form','<%= Page.ResolveUrl("~/Excursions/ViewBookingPage.aspx") %>','Excursions/AddBookingControl.ascx',{},null)">Add</a></li>
                            <li><a href="<%=Page.ResolveUrl("~/Excursions/PlanBookingsPage.aspx") %>">Plan</a></li>
                        </ul>
                    </li>
                    <li><a href="<%=Page.ResolveUrl("~/Excursions/GuideReservationPage.aspx") %>">Plan Guides</a></li>
                    <li><a class="fly">Excursions</a>
                        <ul>
                            <li><a href="<%=Page.ResolveUrl("~/Excursions/ExcursionsPage.aspx") %>">Search</a></li>
                            <li><a title="Add Excursion" href="#" onclick="loadEditArrayControlWithCallback('#dialog-form','<%= Page.ResolveUrl("~/Excursions/ViewBookingPage.aspx") %>','Excursions/AddExcursionControl.ascx',{},null)">Add</a></li>
                        </ul>
                    </li>
                    <li><a class="fly">Pace Excursion Today</a>
                        <ul>
                            <%foreach (Pace.DataAccess.Excursion.Booking booking in BaseExcursionPage.TodaysExcursions())
                              {%>
                        <li><a target="_blank" href="<%=BasePage.ReportPath("ExcursionReports","Excursion_PaceExcursionToday","HTML4.0", new Dictionary<string, object> { { "Date", DateTime.Today }, {"BookingId", booking.BookingId} }) %>">
                            <%=booking.Title %></a></li>
                            <%} %>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="hasSub"><a>Students</a>
                <ul>
                    <li><a href="<%= Page.ResolveUrl("~/Enrollments/EnrollmentPage.aspx") %>?action=lastentered">Search</a></li>
                    <li><a title="Add Student" href="#" onclick="loadEditArrayControlWithCallback('#dialog-form','<%= Page.ResolveUrl("~/Enrollments/EnrollmentPage.aspx") %>','Enrollments/AddStudentControl.ascx',{},null)">Add</a></li>
                    <li><a href="<%= Page.ResolveUrl("~/Enrollments/PlanAccommodationPage.aspx") %>">Plan
                        and Confirm</a>
                    </li>
                    <li><a class="fly">Arriving Students</a>
                        <ul>
                            <li><a class="fly">This Week</a>
                                <ul>
                                    <% foreach (KeyValuePair<Pace.DataAccess.Enrollment.Xlk_ProgrammeType, List<Pace.DataAccess.Enrollment.Student>> item in Click_Arriving_ThisWeek())
                                       {%>
                                    <li><a class="fly">
                                        <%= item.Key.Description %></a>
                                        <ul>
                                            <%foreach (Pace.DataAccess.Enrollment.Student student in item.Value)
                                              {%>
                                            <li><a href="<%= Page.ResolveUrl ("~/Enrollments/ViewStudentPage.aspx?StudentId=")%><%= student.StudentId %>">
                                                <%= student.FirstName %>
                                                <%= student.SurName %></a></li>
                                            <%} %>
                                        </ul>
                                    </li>
                                    <% } %>
                                </ul>
                            </li>
                            <li><a class="fly">Next Week</a>
                                <ul>
                                    <% foreach (KeyValuePair<Pace.DataAccess.Enrollment.Xlk_ProgrammeType, List<Pace.DataAccess.Enrollment.Student>> item in Click_Arriving_NextWeek())
                                       {%>
                                    <li><a class="fly">
                                        <%= item.Key.Description %></a>
                                        <ul>
                                            <% foreach (Pace.DataAccess.Enrollment.Student student in item.Value)
                                               {%>
                                            <li><a href="<%= Page.ResolveUrl ("~/Enrollments/ViewStudentPage.aspx?StudentId=")%><%= student.StudentId %>">
                                                <%= student.FirstName %>
                                                <%= student.SurName %></a></li>
                                            <% } %>
                                        </ul>
                                    </li>
                                    <% } %>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="fly">Departing Students</a>
                        <ul>
                            <% foreach (KeyValuePair<Pace.DataAccess.Enrollment.Xlk_ProgrammeType, List<Pace.DataAccess.Enrollment.Student>> item in Click_Departing())
                               {%>
                            <li><a class="fly">
                                <%= item.Key.Description %></a>
                                <ul>
                                    <%foreach (Pace.DataAccess.Enrollment.Student student in item.Value)
                                      {%>
                                    <li><a href="<%= Page.ResolveUrl ("~/Enrollments/ViewStudentPage.aspx?StudentId=")%><%= student.StudentId %> ">
                                        <%= student.FirstName %>
                                        <%= student.SurName %></a></li>
                                    <%} %>
                                    <li><a href="<%= BasePage.ReportPath("AcademicReports","NewMultiStudentCert",  "PDF", new Dictionary<string, object> { { "TodayDate",FirstDayOfWeek(DateTime.Now, CalendarWeekRule.FirstFullWeek).ToString("dd/MMM/yy") }, { "ProgrammeTypeId",item.Key.ProgrammeTypeId}, { "CampusId", BasePage.GetCampusId }}) %>"
                                        title="Print Cert for all students leaving this week">Print Certs</a> </li>
                                    <li><a href="<%= BasePage.ReportPath("EnrollmentReports","MultiStudentApprasail", "HTML4.0", new Dictionary<string, object> { { "TodayDate", FirstDayOfWeek(DateTime.Now, CalendarWeekRule.FirstFullWeek).ToString("dd/MMM/yy") }, { "ProgrammeTypeId",item.Key.ProgrammeTypeId}, { "CampusId", BasePage.GetCampusId }})  %>"
                                        title="Print Appraisals for all students leaving this week">Print Appraisals</a>
                                    </li>
                                    <li><a href="<%= BasePage.ReportPath("EnrollmentReports","MultiTeacherApprasail", "HTML4.0", new Dictionary<string, object> { { "TodayDate", FirstDayOfWeek(DateTime.Now, CalendarWeekRule.FirstFullWeek).ToString("dd/MMM/yy") }, { "ProgrammeTypeId",item.Key.ProgrammeTypeId}, { "CampusId", BasePage.GetCampusId }})  %>"
                                        title="Print Teacher appraisals for all students leaving this week">Print Teacher
                                        Report</a> </li>
                                </ul>
                            </li>
                            <% } %>
                            <li><a class="fly">Print Options</a>
                                <ul>
                                    <li><a href="<%= BasePage.ReportPath("AcademicReports","NewMultiStudentCert",  "PDF", new Dictionary<string, object> { { "TodayDate",FirstDayOfWeek(DateTime.Now, CalendarWeekRule.FirstFullWeek).ToString("dd/MMM/yy") }, { "CampusId", BasePage.GetCampusId }}) %>"
                                        title="Print Cert for all students leaving this week">Print Certs</a> </li>
                                    <li><a href="<%= BasePage.ReportPath("EnrollmentReports","MultiStudentApprasail", "HTML4.0", new Dictionary<string, object> { { "TodayDate", FirstDayOfWeek(DateTime.Now, CalendarWeekRule.FirstFullWeek).ToString("dd/MM/yy") }, { "CampusId", BasePage.GetCampusId }})  %>"
                                        title="Print Appraisals for all students leaving this week">Print Appraisals</a>
                                    </li>
                                    <li><a href="<%= BasePage.ReportPath("EnrollmentReports","MultiTeacherApprasail", "HTML4.0", new Dictionary<string, object> { { "TodayDate", FirstDayOfWeek(DateTime.Now, CalendarWeekRule.FirstFullWeek).ToString("dd/MMM/yy") }, { "CampusId", BasePage.GetCampusId }})  %>"
                                        title="Print Teacher appraisals for all students leaving this week">Print Teacher
                                        Report</a> </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="fly">Cancelled Students</a>
                        <ul>
                            <% foreach (Pace.DataAccess.Enrollment.Student item in Click_Cancelled())
                               {%>
                            <li>
                               <a href="<%=Page.ResolveUrl ("~/Enrollments/ViewStudentPage.aspx?StudentId=")%><%=item.StudentId%>">
                                <%=item.FirstName%>
                                <%=item.SurName%></a></li>
                            <% } %>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="hasSub"><a>Families</a>
                <ul>
                    <li><a href="<%= Page.ResolveUrl("~/Accommodation/AccommodationPage.aspx") %>">Search</a></li>
                    <li><a href="<%= Page.ResolveUrl("~/Accommodation/AccommodationSearchPage.aspx") %>">Advanced Search</a></li>
                    <li><a title="Add Family" href="#" onclick="loadEditArrayControlWithCallback('#dialog-form','<%= Page.ResolveUrl("~/Accommodation/AccommodationPage.aspx") %>','Accommodation/AddFamilyControl.ascx',{},null)">Add</a> </li>
                    <li><a href="<%= Page.ResolveUrl("~/Accommodation/ManagePaymentPage.aspx?Action=unconfirmed") %>">Family Payments</a></li>
                </ul>
            </li>
            <li class="hasSub"><a>Groups</a>
                <ul>
                    <li><a href="<%= Page.ResolveUrl("~/Groups/GroupPage.aspx") %>?Action=current">Search</a></li>
                    <li><a title="Add Group" href="#" onclick="loadEditArrayControlWithCallback('#dialog-form','<%= Page.ResolveUrl("~/Groups/GroupPage.aspx") %>','Groups/AddGroupControl.ascx',{},null)">Add</a> </li>
                    <li><a class="fly">Families</a>
                        <ul>
                            <li><a href="<%= Page.ResolveUrl("~/Groups/PlanAccommodationPage.aspx") %>">Plan & Confirm</a></li>
                            <li><a href="<%= Page.ResolveUrl("~/Groups/FamilyReservationPage.aspx") %>">Reserve
                                Families</a></li>
                        </ul>
                    </li>
                    <li><a class="fly">Imports</a>
                        <ul>
                            <%--                            <li><a href="<%= Page.ResolveUrl("~/Groups/ParseSFAStudentListPage.aspx") %>">SFA Importer</a></li>--%>
                            <li><a href="<%= Page.ResolveUrl("~/Groups/ParseStudentListPage.aspx") %>">PACE Importer</a></li>
                        </ul>
                    </li>
                    <li><a class="fly">Current Groups</a>
                        <ul>
                            <% var c = 0; foreach (Pace.DataAccess.Group.Group item in GeCurrentGroups(10))
                               {%>
                            <li><a href="<%= Page.ResolveUrl ("~/Groups/ViewGroupPage.aspx?GroupId=")%><%= item.GroupId %>">
                                <%= item.GroupName%></a></li>
                            <% c++;
                               } if (c == 0)
                               {%><li><a>Currrently None</a></li>
                            <%} %>
                        </ul>
                    </li>
                    <li><a class="fly">Next 4 Groups</a>
                        <ul>
                            <% var w = 0; foreach (Pace.DataAccess.Group.Group item in GetNextGroups(4))
                               {%>
                            <li><a href="<%= Page.ResolveUrl ("~/Groups/ViewGroupPage.aspx?GroupId=")%><%= item.GroupId %>">
                                <%= item.GroupName%></a></li>
                            <% w++;
                               } if (w == 0)
                               {%><li><a>Currrently None</a></li>
                            <%} %>
                        </ul>
                    </li>
                    <li><a class="fly">Departing Groups</a>
                        <ul>
                            <% var x = 0; foreach (Pace.DataAccess.Group.Group item in Click_GroupDeparting())
                               {%>
                            <li><a href="<%= Page.ResolveUrl ("~/Groups/ViewGroupPage.aspx?GroupId=")%><%= item.GroupId %>">
                                <%= item.GroupName%></a></li>
                            <% x++;
                               } if (x == 0)
                               { %><li><a>Currrently None</a></li>
                            <%} %>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="hasSub"><a>Report</a>
                <ul>
                    <li><a class="fly">Groups</a>
                        <ul>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("GroupReports","Admin_GroupExcursionToday", "HTML4.0", new Dictionary<string, object> { { "ExcursionDate", DateTime.Now.Date } } ) %>">Group Excursions Today</a> </li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("GroupReports","Academic_DailyNumbers", "HTML4.0", new Dictionary<string, object> { { "FromDate", Convert.ToDateTime("01/" + DateTime.Now.Month + "/" + DateTime.Now.Year).ToString("dd/MMM/yyyy") }, { "ToDate", Convert.ToDateTime("28/" + DateTime.Now.Month + "/" + DateTime.Now.Year).ToString("dd/MMM/yyyy") }, { "Detail", false } }, "True" )%>">Groups Arrivals</a> </li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("GroupReports", "Group_TeachersAssigned", "HTML4.0", new Dictionary<string, object> { { "Start", DateTime.Now }, { "Finish", DateTime.Now } }, "True") %>">Teachers Assigned</a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("GroupReports", "GoogleMapListing", "HTML4.0", new Dictionary<string, object> { }, "True") %>">Family Map</a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("GroupReports", "BusStopDetails", "HTML4.0", new Dictionary<string, object> { }, "True") %>">Bus Routes</a></li>
                        </ul>
                    </li>
                    <li><a class="fly">Family</a>
                        <ul>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("AccommodationReports","FamilyAllocationsAndReservations","HTML4.0", null ) %>">Allocations By Family</a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("AccommodationReports","Accommodation_NoBankDetails","HTML4.0", null ) %>">No Bank Details</a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("AccommodationReports", "Accommodation_Departures", "HTML4.0", null ) %>">Departures</a></li>
                            <li><a target="_blank" href="<%=BasePage.ReportPath("AccommodationReports","UnusedFamilies","HTML4.0", new Dictionary<string, object> { { "CampusId", BasePage.GetCampusId },{ "Status",1 }}) %>">Unused Families</a></li>
                            <li><a target="_blank" href="<%=BasePage.ReportPath("AccommodationReports","UsedFamiliesExcludingNationality","HTML4.0", new Dictionary<string, object> { { "CampusId", BasePage.GetCampusId },{ "Status",1 },{ "Nationality",50 }}) %>">Families without Nationality</a></li>
                            <li><a target="_blank" href="<%=BasePage.ReportPath("AccommodationReports","QtyUsedFamilies","HTML4.0", new Dictionary<string, object> { { "CampusId", BasePage.GetCampusId },{ "Status",1 }}) %>">Families with Qty</a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("AccommodationReports", "GoogleMapListing", "HTML4.0", new Dictionary<string, object> { }, "True") %>">Zone Mapping</a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("AccommodationReports", "FamilyAllocations", "HTML4.0", new Dictionary<string, object> {  { "CampusId", BasePage.GetCampusId }}, "True") %>">All Family Allocations</a></li>
                        </ul>
                    </li>
                    <li><a class="fly">Students</a>
                        <ul>
                            <li><a target="_blank" href="<%=BasePage.ReportPath("EnrollmentReports","StudentForms","HTML4.0", null) %>"
                                title="Print First Day Forms">Print First Day Forms </a></li>
                            <li><a target="_blank" href="<%=BasePage.ReportPath("AcademicReports","NewIndividualStudentCert","HTML4.0", null) %>"
                                title="Print Certificate">Print Certificate </a></li>
                            <li><a target="_blank" href="<%=BasePage.ReportPath("EnrollmentReports","StudentEnrollmentLetter","HTML4.0", null) %>"
                                title="Print Enrollment Letter">Print Enrollment Letter </a></li>
                            <li><a target="_blank" href="<%=BasePage.ReportPath("EnrollmentReports","StudentReport","HTML4.0",null) %>"
                                title="Print Report Form">Print Report Form </a></li>
                            <li><a target="_blank" href="<%=BasePage.ReportPath("EnrollmentReports","EOCAppraisal","HTML4.0", null) %>"
                                title="Print Appraisal Form">Print Appraisal Form </a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("SupportReports", "StudentConsistency","HTML4.0", new Dictionary<string, object> { { "FromDate", DateTime.Now.Date.ToString("dd/MMM/yyyy") } } ) %>">Consistency Check</a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("EnrollmentReports", "UnplacedStudents", "HTML4.0",null) %>">Missing Accommodation</a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("EnrollmentReports", "BusStopDetails", "HTML4.0", null, "True") %>">Bus Route</a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("AcademicReports", "Academic_CurrentStudents", "HTML4.0", new Dictionary<string, object> { { "Campus", 1 }, { "Programme", 2 }, {"Date", DateTime.Now.Date.ToString("dd/MM/yyyy") }, {"Details", false } }) %>">Current Students</a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("AcademicReports", "Academic_26Lessons", "HTML4.0", null) %>">Current 26 Lesson Students</a></li>
                        </ul>
                    </li>
                    <li><a class="fly">Support</a>
                        <ul>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("SupportReports","Support_Arrivals","HTML4.0", null ) %>">Arrivals Report</a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("SupportReports","Support_Departures","HTML4.0", null ) %>">Departures Report</a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("GroupReports","Admin_GroupsArrivals","HTML4.0", null ) %>">Capacity By Day</a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("SupportReports","Nationality_Mix","HTML4.0", null ) %>">Nationality Mix</a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("SupportReports","Tasks_Overview","HTML4.0", null ) %>">Tasks Overview</a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("SupportReports","Support_TasksDue","HTML4.0", null ) %>">Tasks Due</a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("Admin_StudentWeeksByFamily", "HTML4.0", new Dictionary<string, object> { { "FromDate", DateTime.Now.AddDays(-180).Date }, { "ToDate", DateTime.Now.Date }, { "FamilyType", 1 }, { "ShowDetail", false } } ) %>">Student Weeks by Family</a> </li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("SupportReports", "GroupConsistency","HTML4.0", new Dictionary<string, object> { { "FromDate", DateTime.Now.Date.ToString("dd/MMM/yyyy") } } ) %>">Group Consistency Check</a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("SupportReports", "StudentConsistency","HTML4.0", new Dictionary<string, object> { { "FromDate", DateTime.Now.Date.ToString("dd/MMM/yyyy") } } ) %>">Student Consistency Check</a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("SupportReports", "BuildingUsageNumber", "HTML4.0", new Dictionary<string, object> { }, "True") %>">Building Usage</a></li>
                            <li><a class="fly">Bray Centers</a>
                                <ul class="level4">
                                    <li><a target="_blank" href="<%= BasePage.ReportPath("SupportReports", "Support_Bray", "HTML4.0", new Dictionary<string, object> { }, "True") %>">Bray Usage</a></li>
                                    <li><a target="_blank" href="<%= BasePage.ReportPath("EnrollmentReports", "BusRoutes", "HTML4.0", null, "True") %>">Bus Route</a></li>
                                    <li><a target="_blank" href="<%= BasePage.ReportPath("ExcursionReports", "JuniorProgrammeForIndividuals", "HTML4.0", null, "True") %>">Individual Excursion</a></li>
                                    <li><a target="_blank" href="<%= BasePage.ReportPath("SupportReports", "BusRouteNumbers_ForJuniorProgramme", "HTML4.0", null, "True") %>">Bus Route Numbers</a></li>
                                    <li><a target="_blank" href="<%= BasePage.ReportPath("SupportReports", "JuniorProgramme_StudentNotes", "HTML4.0", new Dictionary<string, object> { { "CampusId", 1 }}, "True") %>">Student Notes</a></li>
                                    <li><a target="_blank" href="<%= BasePage.ReportPath("SupportReports", "JuniorIndependentBusStopDetails", "HTML4.0", null, "True") %>">Independent Bus Routes</a></li>
                                    <li><a target="_blank" href="<%= BasePage.ReportPath("ExcursionReports", "Excursion_VouchersOnDay", "HTML4.0", new Dictionary<string, object> { { "CampusId", 1 }}, "True") %>">Excursion Vouchers</a></li>
                                </ul>
                            </li>
                            <li><a class="fly">Castleknock Centers</a>
                                <ul class="level4">
                                    <li><a target="_blank" href="<%= BasePage.ReportPath("SupportReports", "Support_Castleknock", "HTML4.0", new Dictionary<string, object> { }, "True") %>">Castleknock Usage</a></li>
                                    <li><a target="_blank" href="<%= BasePage.ReportPath("SupportReports", "JuniorProgramme_StudentNotes", "HTML4.0", new Dictionary<string, object> { { "CampusId", 2 }}, "True") %>">Student Notes</a></li>
                                    <li><a target="_blank" href="<%= BasePage.ReportPath("SupportReports", "Residence_ByDay", "HTML4.0", new Dictionary<string, object> { { "ResidenceId", 1092 }}, "True") %>">Residence By Night</a></li>
                                    <li><a target="_blank" href="<%= BasePage.ReportPath("SupportReports", "Castleknock_OrderedItemsByWeek", "HTML4.0", null, "True") %>">Activities Matrix</a></li>
                                    <li><a target="_blank" href="<%= BasePage.ReportPath("ExcursionReports", "Excursion_VouchersOnDay", "HTML4.0", new Dictionary<string, object> { { "CampusId", 2 }}, "True") %>">Excursion Vouchers</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="fly">Excursion</a>
                        <ul>
                            <li><a class="fly">This Week @ PACE</a>
                                <ul>
                                    <% for (int i = 0; i < 4; i++)
                                       {%>
                                    <li><a target="_blank" href="<%= BasePage.ReportPath("CommonReports","ThisWeekAtPace","HTML4.0", new Dictionary<string, object> { { "Date", BasePage.FirstDayOfWeek(DateTime.Now, CalendarWeekRule.FirstFullWeek).AddDays(i*7).ToString("D") } } ) %>">
                                        <%= string.Format("Week Starting {0}", BasePage.FirstDayOfWeek(DateTime.Now, CalendarWeekRule.FirstFullWeek).AddDays(i*7).ToString("D"))%>
                                    </a></li>
                                    <% } %>
                                </ul>
                            </li>
                            <li><a class="fly">Next 4 weeks</a>
                                <ul>
                                    <li><a target="_blank" href="<%= BasePage.ReportPath("ExcursionReports","ExcursionNext4Weeks", "HTML4.0", new Dictionary<string, object> { { "MondayDate", FirstDayOfWeek(DateTime.Now, CalendarWeekRule.FirstFullWeek).ToString("dd/MMM/yy") } } ) %>"
                                        title="Next four Wednesday Excursions">Next 4 Wednesday Excursions</a></li>
                                </ul>
                            </li>
                            <li><a class="fly">Next 3 months</a>
                                <ul>
                                    <li><a target="_blank" href="<%= BasePage.ReportPath("ExcursionReports", "Excursion_Next3Months", "HTML4.0", null) %>" title="Next three months' Excursions">Next 3 months' Excursions</a></li>
                                </ul>
                            </li>
                            <li><a class="fly">Sign-up Sheets</a>
                                <ul>
                                    <li><a target="_blank" href="<%= BasePage.ReportPath("ExcursionReports","Excursion_ExcursionPoster",  "PDF", null) %>"
                                        title="Sign Up Sheets">Sign Up Sheets</a></li>
                                    <%--<li><a target="_blank" href="<%= BasePage.ReportPath("ExcursionReports","ConversationClub",  "HTML4.0", new Dictionary<string, object> { { "MondayDate",FirstDayOfWeek(DateTime.Now, CalendarWeekRule.FirstFullWeek).ToString("dd/MMM/yy") }}) %>"
                                        title="Conversation Club sign-up sheet for next 2 weeks">Conversation Club Signup</a></li>
                                    <li><a target="_blank" href="<%= BasePage.ReportPath("ExcursionReports","ExcursionSignup",  "HTML4.0", new Dictionary<string, object> { { "MondayDate",FirstDayOfWeek(DateTime.Now, CalendarWeekRule.FirstFullWeek).ToString("dd/MMM/yy") }}) %>"
                                        title="Excursion sign-up sheet for current week">Excursion Signup</a></li>--%>
                                </ul>
                            </li>
                            <li><a class="fly">Groups</a>
                                <ul>
                                    <li><a target="_blank" href="<%= BasePage.ReportPath("GroupReports","GroupExcursionPlan", "HTML4.0",null ) %>"
                                        title="Group Excursion Plans">Group Excursion Plans</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="fly">Academic</a>
                        <ul>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("TuitionReports","ClassList","HTML4.0", null ) %>">Class List</a> </li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("TuitionReports","DoorList","HTML4.0", null ) %>">Door List</a> </li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("AcademicReports","FridayClass", "HTML4.0", null ) %>">Print Friday Class List</a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("AcademicReports","ArrivalsList",  "HTML4.0", new Dictionary<string, object> { { "StartDate", FirstDayOfWeek(DateTime.Now, CalendarWeekRule.FirstFullWeek).ToString("dd/MMM/yy")}}) %>">Print Academic Arrivals</a></li>
                            <li><a class="fly">Exams</a>
                                <ul>
                                    <li><a target="_blank" href="<%= BasePage.ReportPath("TuitionReports","ExamDatesReport", "HTML4.0", new Dictionary<string, object> { { "CurrentDate", DateTime.Now.ToString("dd/MMM/yy")} }) %>">Exam Dates</a></li>
                                    <li><a target="_blank" href="<%= BasePage.ReportPath("AcademicReports", "Academic_ExamScores", "HTML4.0", new Dictionary<string, object> { { "Year", DateTime.Today.Year }, { "Exam", 3 } } ) %>">Yearly Percentages</a></li>
                                </ul>
                            </li>
                            <li><a class="fly">Course Books to Return</a>
                                <ul>
                                    <li><a target="_blank" href="<%= BasePage.ReportPath("AcademicReports","Academic_CourseBooks", "HTML4.0", new Dictionary<string, object> { { "TodayDate", DateTime.Now.ToString("dd/MM/yy")} }) %>">Course Books to Return</a> </li>
                                </ul>
                            </li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("AcademicReports", "Academic_TeachersMeeting", "HTML4.0", new Dictionary<string, object> { { "Wed", FirstDayOfWeek(DateTime.Now, CalendarWeekRule.FirstFullWeek).AddDays(2).ToString("dd/MM/yyyy") } } ) %>">Teachers Meeting Form</a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("AcademicReports", "Academic_ClassRooms", "HTML4.0", null) %>">Rooms in Use this week</a></li>
                        </ul>
                    </li>
                    <li><a class="fly">Finance</a>
                        <ul>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("FinanceReports","FinancialStatus","HTML4.0", null ) %>">Financial Health</a> </li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("FinanceReports","ConfirmedPaymentDetails","HTML4.0",null) %>">Bank Details for Suppliers</a></li>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("FinanceReports","FamilyPaymentsReport","HTML4.0",null) %>">Payments For Sage</a></li>
                        </ul>
                    </li>
                    <li><a class="fly">Transport</a>
                        <ul>
                            <li><a target="_blank" href="<%= BasePage.ReportPath("TransportReports","Transport_NextFiveDays","HTML4.0", null) %>">Booked Transport</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
