﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SecurityIssue.aspx.cs" Inherits="SecurityIssue" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
            You are not logged in or your account has not been associated in the database.

    </div>
    </form>
</body>
</html>
