﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"
    CodeFile="ExamsPage.aspx.cs" Inherits="Tuition_ExamsPage" %>

<asp:Content ID="script" ContentPlaceHolderID="head" runat="server">
    <script type="text/javascript" language="javascript">
        $(function () {
            $("table").tablesorter()

            $("#<%= repeat.ClientID %>").buttonset();

            refreshCurrentTab = function () {
                location.reload();
            }
        });
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="maincontent" runat="server">
    <asp:Label ID="newPageName" runat="server" Text="Examinations Page" BorderStyle="None" Visible="false"></asp:Label> <!-- Page Name -->
    <div id="searchcontainer">
        <table id="search-table">
            <tbody>
                <tr>
                    <td>
                        Use the buttons below to view Cambridge Exams this year
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="resultscontainer">
        <span id="repeat" runat="server" repeatdirection="Horizontal">
            <asp:LinkButton ID="LinkButton2" runat="server" OnClick="lookupExam"><span>All Current Exams</span></asp:LinkButton>
            <a href="?Action=upcoming">Upcoming Exams</a> <a href="?Action=firstcert">FCE</a>
            <a href="?Action=advanced">CAE</a> <a href="?Action=proficiency">CPE</a>  </span><span style="float: right;">
                <a title="Add Exam" href="#" onclick="loadEditArrayControl('#dialog-form','ExamsPage.aspx','Tuition/AddExamControl.ascx',{})"><img src="../Content/img/actions/add.png">Add Exam</a>
                    <asp:Label ID="resultsreturned" runat="server" Text='Records Found: 0'>
                    </asp:Label></span>
        <table id="box-table-a" class="tablesorter">
            <thead>
                <tr>
                    <th scope="col">
                        Exam Date Id
                    </th>
                    <th scope="col">
                        Exam Name
                    </th>
                    <th scope="col">
                        Exam Date
                    </th>
                    <th scope="col">
                        Registration Date
                    </th>
                    <th scope="col">
                        Class Start Date
                    </th>
                    <th scope="col">
                        Speaking Window
                    </th>
                    <th scope="col">
                        Exam Type
                    </th>
                    <th scope="col">
                        Exam Date Confirmed?
                    </th>
                    <th scope="col">
                        Edit Exam
                    </th>
                    <th scope="col">
                        Results
                    </th>
                </tr>
            </thead>
            <tbody>
                <asp:Repeater ID="results" runat="server" EnableViewState="true">
                    <ItemTemplate>
                        <tr>
                            <td>
                                <%#DataBinder.Eval(Container.DataItem, "ExamDateId") %>
                            </td>
                            <td>
                                <a href="../Tuition/ViewExamsPage.aspx?ExamDateId=<%#DataBinder.Eval(Container.DataItem, "ExamDateId") %>">
                                    <%#DataBinder.Eval(Container.DataItem, "Exam.ExamName")%></a>
                            </td>
                            <td>
                                <%#DataBinder.Eval(Container.DataItem, "ExamDate", "{0:D}") %>
                            </td>
                            <td style="text-align: center">
                                <%#DataBinder.Eval(Container.DataItem, "RegistrationDate", "{0:D}") %>
                            </td>
                            <td style="text-align: center">
                                <%#DataBinder.Eval(Container.DataItem, "StartDate", "{0:D}")%>
                            </td>
                            <td style="text-align: center">
                                <b>
                                    <%# ToDate(DataBinder.Eval(Container.DataItem, "ExpecetedStudentDepartureDate"), -14).ToString("D")%></b>
                                - <b>
                                    <%#DataBinder.Eval(Container.DataItem, "ExpecetedStudentDepartureDate", "{0:D}")%></b>
                            </td>
                            <td>
                                <%#DataBinder.Eval(Container.DataItem, "Xlk_ExamType.Description") %>
                            </td>
                            <td style="text-align: center">
                                <asp:Image ID="examyesno" runat="server" Visible='<%#Convert.ToBoolean(DataBinder.Eval(Container.DataItem, "ExamDateConfirmed")) %>'
                                    ImageUrl="~/Content/img/actions/accept.png" ToolTip="Date Confirmed" />
                            </td>
                            <td style="text-align: center">
                                <a href="#" title="Edit Exam" onclick="loadEditArrayControl('#dialog-form','ExamsPage.aspx','Tuition/AddExamControl.ascx',{'ExamDateId': <%#DataBinder.Eval(Container.DataItem, "ExamDateId") %>})">
                                    <img src="../Content/img/actions/edit.png" />
                                </a>
                            <td>
                                <a href="ViewExamsPage.aspx?ExamDateId=<%#DataBinder.Eval(Container.DataItem, "ExamDateId") %>#ui-tabs-1">
                                    <asp:Image ID="examresults" runat="server" ImageUrl="~/Content/img/actions/next.png" /></a>
                            </td>
                        </tr>
                    </ItemTemplate>
                </asp:Repeater>
            </tbody>
        </table>
    </div>
<%--    <div>
        <!--START EMBED--> 
                    <script src="http://tools.cambridgeenglish.org/scale-score/tool.min.js" type="text/javascript">
                    </script> 
                    <div id="scaleConversionTool">
                    </div> 
                    <!--END EMBED-->
    </div>--%>
</asp:Content>
