﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"
    CodeFile="ViewExamsPage.aspx.cs" Inherits="Tuition_ViewExamsPage" %>

<asp:Content ID="script" ContentPlaceHolderID="head" runat="server">
    <script type="text/javascript">
        $(function () {

            $("table").tablesorter()

            $("#<%= newexamdate.ClientID %>").datepicker({ dateFormat: 'dd/mm/yy' });
            $("#<%= newregdate.ClientID %>").datepicker({ dateFormat: 'dd/mm/yy' });
            $("#<%= newspeakdate.ClientID %>").datepicker({ dateFormat: 'dd/mm/yy' });
            $("#<%= newspeakend.ClientID %>").datepicker({ dateFormat: 'dd/mm/yy' });
            $("#<%= newstudentdepart.ClientID %>").datepicker({ dateFormat: 'dd/mm/yy' });

            $("#viewTabs").tabs({ spinner: 'Retrieving data...' });


            refreshCurrentTab = function () {
                var selected = $tabs.tabs('option', 'selected');
                $tabs.tabs("load", selected);
            }


            var $tabs = $("#tabs").tabs({
                spinner: 'Retrieving data...',
                load: function (event, ui) { createPopUp(); $("table").tablesorter(); },
                ajaxOptions: {
                    contentType: "application/json; charset=utf-8",
                    error: function (xhr, status, index, anchor) {
                        $(anchor.hash).html(
						"Couldn't load this tab. We'll try to fix this as soon as possible. " +
						"If this wouldn't be a demo.");
                    },
                    dataFilter: function (result) {
                        this.dataTypes = ['html']
                        var data = $.parseJSON(result);
                        return data.d;
                    }
                }
            });

            createExamBooking = function (pretestid) {
                $.ajax({
                    type: "POST",
                    url: "ViewExamsPage.aspx/RegisterStudentForExam",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: "{pretestid:" + pretestid + "}",
                    success: function (msg) {
                        if (msg.d != null) {
                            if (msg.d.Success) {
                                refreshCurrentTab();
                            }
                            else
                                alert(msg.d.ErrorMessage);
                        }
                        else
                            alert("No Response, please contact admin to check!");
                    }
                });

            }

            showPrintOptions = function () {
                $("#dialog-print").css({ 'background-color': '#E0FFFF' }).dialog("open");
            };

            $("#dialog-print").dialog({
                autoOpen: false,
                modal: true
            });

        });
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="maincontent" runat="server">
    <asp:Label ID="newPageName" runat="server" Text="" BorderStyle="None" Visible="false"></asp:Label> <!-- Page Name -->
    <div class="resultscontainer">
        <div id="viewTabs">
            <ul>
                <li><a href="#viewTabs-1">View</a></li>
                <li><a href="#viewTabs-2">Edit</a></li>
            </ul>
            <div id="viewTabs-1">
                <table class="box-table-a">
                    <thead>
                        <tr>
                            <th scope="col">
                                <label>
                                    Exam Date ID
                                </label>
                            </th>
                            <th scope="col">
                                <label>
                                    EXAM
                                </label>
                            </th>
                            <th scope="col">
                                <label>
                                    Exam Date
                                </label>
                            </th>
                            <th scope="col">
                                <label>
                                    Registration Date
                                </label>
                            </th>
                            <th scope="col">
                                <label>
                                    Exam Type
                                </label>
                            </th>
                            <th scope="col">
                                <label>
                                    Confirmed Exam?
                                </label>
                            </th>
                            <th scope="col">
                                <label>
                                    More
                                </label>
                            </th>
                            <th scope="col">
                                <label>
                                    Actions
                                </label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: left">
                                <asp:Label ID="ExamDateId" runat="server">
                                </asp:Label>
                            </td>
                            <td style="text-align: center">
                                <asp:Label ID="ExamName1" runat="server" Font-Bold="true" Font-Size="Larger">
                                </asp:Label>
                            </td>
                            <td style="text-align: left">
                                <asp:Label ID="ExamDate" runat="server">
                                </asp:Label>
                            </td>
                            <td style="text-align: left">
                                <% if (Convert.ToDateTime(RegistrationDate.Text) < DateTime.Now)
                                   { %>
                                <asp:Label ID="RegistrationDate" runat="server" Font-Strikeout="true">
                                </asp:Label>
                                <%}
                                   else
                                   { %>
                                <asp:Label ID="RegistrationDate1" runat="server">
                                </asp:Label>
                                <%} %>
                            </td>
                            <td style="text-align: left">
                                <asp:Label ID="ExamName" runat="server" Font-Bold="true">
                                </asp:Label>
                                <asp:Label ID="ExamTypeId" runat="server">
                                </asp:Label>
                            </td>
                            <td style="text-align: left">
                                <asp:Label ID="ExamDateConfirmed" runat="server">
                                </asp:Label>
                            </td>
                            <td style="text-align: left">
                                <div id="content">
                                    <a href="#" id="moreinfo" runat="server">More</a>
                                </div>
                            </td>
                            <td style="text-align: center">
                                <a href="#" title="Print Options" onclick="showPrintOptions();">
                                    <img src="../Content/img/actions/printer.png" title="Print Options" /></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="viewTabs-2">
                <div id="errorcontainer" name="errorcontainer" class="error" runat="server" visible="false">
                    <asp:Label ID="errormessage" runat="server" Text=""></asp:Label>
                </div>
                <div class="inputArea">
                    <fieldset>
                        <label>
                            Exam</label>
                        <%--<asp:DropDownList ID="newexam" runat="server" DataTextField="ExamName" DataValueField="ExamId">
                        </asp:DropDownList>--%>
                        <label>
                            Exam Date</label>
                        <asp:TextBox ID="newexamdate" runat="server">
                        </asp:TextBox>
                        <label>
                            Registration Date
                        </label>
                        <asp:TextBox ID="newregdate" runat="server">
                        </asp:TextBox>
                        <label>
                            Speaking Test Window Start
                        </label>
                        <asp:TextBox ID="newspeakdate" runat="server">
                        </asp:TextBox>
                        <label>
                            Speaking Test Window End
                        </label>
                        <asp:TextBox ID="newspeakend" runat="server">
                        </asp:TextBox>
                        <label>
                            Earliest Student Departure
                        </label>
                        <asp:TextBox ID="newstudentdepart" runat="server">
                        </asp:TextBox>
                    </fieldset>
                    <fieldset>
                        <label>
                            Exam Type
                        </label>
                        <%--<asp:DropDownList ID="newexamtype" runat="server" DataTextField="Description" DataValueField="ExamTypeId">
                        </asp:DropDownList>--%>
                        <label>
                            Exam Date Confirmed
                        </label>
                        <asp:CheckBox ID="newexamconfirmed" runat="server" />
                        <asp:LinkButton ID="newexamsave" runat="server" class="button" OnClick="Click_Save"><span>Save</span></asp:LinkButton>
                        <asp:LinkButton ID="newexamcancel" runat="server" class="button" PostBackUrl="~/Tuition/ViewExamsPage.aspx?ExamDateId='<%=ExamDateId %>'#viewTabs-2"><span>Cancel</span></asp:LinkButton>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="resultscontainer">
        <div id="tabs">
            <ul>
                <li><a href="ViewExamsPage.aspx/LoadStudents?id=<%= _examDateId %>">View Current Students</a></li>
                <li><a href="ViewExamsPage.aspx/LoadPreTestStudents?id=<%= _examDateId %>">PreTest Students</a></li>
            </ul>
        </div>
    </div>
    <!-- Areas for showing in the dialog -->
    <div id="dialog-print" title="Print Option" style="display: none;">
        <a href="<%= ReportPath("AcademicReports","Academic_ExamEnrollment","EXCEL", new Dictionary<string, object> { {"ExamDateId",_examDateId}}) %>" 
            title="Print UCD Enrollment Form">
            <img src="../Content/img/actions/printer.png" title="Print UCD Enrollment Form" />Print
            Print UCD Enrollment Form</a>
        <br />
        <a href="<%= ReportPath("AcademicReports", "Exam_Enrollment_EnglishAcademy", "EXCEL", new Dictionary<string, object> { {"ExamDateId", _examDateId } } ) %>"
            title="Print English Academy Enrollment Form">
            <img src="../Content/img/actions/printer.png" title="Print English Academy Enrollment Form" /> 
            Print English Academy Enrollment Form
        </a>
        <br />
        <a href="<%= ReportPath("AcademicReports", "Academic_ExamAddresses", "PDF", new Dictionary<string, object> { {"ExamDateId", _examDateId}}) %>"
            title="Print Address Labels">
            <img src="../Content/img/actions/printer.png" title="Print Address Labels" />Print 
            Address Labels
        </a>
        <br />
        <a href="<%= ReportPath("AcademicReports", "Academic_ExamResults", "HTML4.0", new Dictionary<string, object>{ { "ExamDateId", _examDateId }, { "ShowDetail", false } } ) %>"
            title="Graph" target="_blank">
            <img src="../Content/img/actions/pie.png" title="Graph" />
            Show Graph
        </a>
        <%--<br />
        <br />
        <a href="<%= ReportPath("SupportReports","PreTestList","WORD", new Dictionary<string, object> { {"ExamDateId",_examDateId}}) %>"
            title="Print Cover Sheet">
            <img src="../Content/img/actions/printer.png" title="Print Pretest List" />Print
            Pretest List</a>
        <br />--%>
    </div>
</asp:Content>
