﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AddFamilyBankControl.ascx.cs" 
    Inherits="Accommodation_AddFamilyBank" %>

<script type="text/javascript">
    $(function () {


        getForm = function () {
            return $("#addfamilybank");
        }

        $("#DateCreated").datepicker({ dateFormat: 'dd/mm/yy' });

        getTargetUrl = function () {
            return '<%= ToVirtual("~/Accommodation/ViewAccommodationPage.aspx","SaveFamilyBank") %>';
        }

        getLocalRules = function () {
            var localrules = {};
            localrules = {
                BankName: {
                    required: true,
                    minlength: 3
                }
            }
            return localrules;
        }

        getLocalMessages = function () {
            var localmessages = {};
            localmessages = {
                BankName: {
                    required: "Please provide a bank name",
                    minlength: "The bank name must be valid"
                }
            }
            return localmessages;
        }
    });
           
</script>

<p id="message" style="Display:none;">
    All fields must be completed
</p>
<form id="addfamilybank" name="addfamilybank" method="post" action="ViewAccommodationPage.aspx/SaveFamilyBank">
    <div class="inputArea">
        <fieldset>
            <input type="hidden" name="Family" id="FamilyId" value="<%= GetFamilyId %>" />
            <input type="hidden" id="FamilyBankBankId" value="<%= GetFamilyBankBankId %>" />
            <label>
                Bank Name
            </label>
            <input type="text" name="BankName" id="BankName" value="<%= GetBankName %>"/>
            <label>
                Branch
            </label>
            <input type="text" name="Branch" id="Branch" value="<%= GetBankBranch %>"/>
            <label>
                Acount Number
            </label>
            <input type="text" name="AccountNumber" id="AccountNumber" value="<%= GetBankAccNo %>"/>
            <label>
                Sort Code
            </label>
            <input type="text" name="SortCode" id="SortCode" value="<%= GetBankSortCode %>"/>
            <label>
                IBAN
            </label>
            <input type="text" name="IBAN" id="IBAN" value="<%= GetIBAN %>"/>
            <label>
                BIC/Swift
            </label>
            <input type="text" name="BIC" id="BIC" value="<%= GetBIC %>"/>
            <label>
                Account Name
            </label>
            <input type="text" name="AccountName" id="AccountName" value="<%= GetBankAccName %>"/>
            <label>
                Date Created (if left blank, today's date will be used)
            </label>
            <input type="datetext" name="DateCreated" id="DateCreated" value="<%= GetBankDateCreated %>"/>
        </fieldset>
    </div>
</form>