﻿<%@ Page Title="" Language="C#" AutoEventWireup="true" MasterPageFile="~/MasterPage.master"
    CodeFile="ManageAccommodationPage.aspx.cs" Inherits="ManageAccommodationPage" %>

<asp:Content ID="script" ContentPlaceHolderID="head" runat="server">
    <script type="text/javascript" language="javascript">
        $(function () {
            $("table").tablesorter()

            $('#<%= cancel.ClientID %>').click(function () {
                parent.history.back();
                return false;
            });
        });
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="maincontent" runat="Server">
    <asp:Label ID="newPageName" runat="server" Text="Manage Accommodation Page" BorderStyle="None" Visible="false"></asp:Label> <!-- Page Name -->
    <div class="resultscontainer">
        <div id="errorcontainer" name="errorcontainer" class="error" runat="server" visible="false">
            <asp:Label ID="errormessage" runat="server" Text=""></asp:Label>
        </div>
        <div class="inputArea">
            <fieldset>
                <label>
                    Family Type
                </label>
                <asp:DropDownList ID="listtype" runat="server" DataTextField="Description" DataValueField="FamilyTypeId">
                </asp:DropDownList>
                <label>
                    Family First Name
                </label>
                <asp:TextBox ID="famfirstname" runat="server">
                </asp:TextBox>
                <label>
                    Family SurName
                </label>
                <asp:TextBox ID="famsurname" runat="server">
                </asp:TextBox>
                <label>
                    Address
                </label>
                <asp:TextBox ID="famaddress" runat="server">
                </asp:TextBox>
                <label>
                    Zone
                </label>
                <asp:DropDownList ID="listzone" runat="server" DataTextField="Description" DataValueField="ZoneId">
                </asp:DropDownList>
            </fieldset>
            <fieldset>
                <label>
                    email
                </label>
                <asp:TextBox ID="famemail" runat="server">
                </asp:TextBox>
                <label>
                    Landline
                </label>
                <asp:TextBox ID="famtel" runat="server">
                </asp:TextBox>
                <label>
                    Mobile
                </label>
                <asp:TextBox ID="fammobile" runat="server">
                </asp:TextBox>
                <label>
                    SAGE Reference
                </label>
                <asp:TextBox ID="sageref" runat="server">
                </asp:TextBox>
                <label>
                    Status
                </label>
                <asp:DropDownList ID="liststatus" runat="server" DataTextField="Description" DataValueField="StatusId">
                </asp:DropDownList>
            </fieldset>
            <fieldset>
                            <label>
                    Campus
                </label>
                <asp:DropDownList ID="listcampus" runat="server"  DataValueField="CampusId" DataTextField="Name">
                </asp:DropDownList>
                <label>
                    GeoCode
                </label>
                <asp:TextBox ID="famgeocode" runat="server">
                </asp:TextBox>
                <label>
                    Payment Method
                </label>
                <asp:DropDownList ID="listpaymenttype" runat="server" DataTextField="Description" DataValueField="PaymentMethodId">
                </asp:DropDownList>
            </fieldset>
            <fieldset>
                <label>
                    Description
                </label>
                <asp:TextBox ID="famdescription" runat="server" TextMode="MultiLine">
                </asp:TextBox>
                <label>
                    Comment
                </label>
                <asp:TextBox ID="famcomment" runat="server" TextMode="MultiLine">
                </asp:TextBox>
                <asp:LinkButton ID="save" runat="server" class="button" OnClick="Save_Click"><span>Save</span></asp:LinkButton>
                <asp:LinkButton ID="cancel" runat="server" class="button" OnClientClick=""><span>Cancel</span></asp:LinkButton>
            </fieldset>
        </div>
    </div>
</asp:Content>
