﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"
    CodeFile="ManagePaymentPage.aspx.cs" Inherits="Accommodation_PaymentPage" %>

<asp:Content ID="script" ContentPlaceHolderID="head" runat="Server">
    <script type="text/javascript" language="javascript">
        $(function () {

            $("table").tablesorter()
            $("#<%= repeat.ClientID %>").buttonset();
            $("#<%= startperiod.ClientID%>").datepicker({ dateFormat: 'dd/mm/yy' });
            $("#<%= endperiod.ClientID%>").datepicker({ dateFormat: 'dd/mm/yy' });


            refreshCurrentTab = function () {
                location.reload();
            }

            paymentAction = function (paymentid, actionid) {
                $.ajax({
                    type: "POST",
                    url: "ManagePaymentPage.aspx/PaymentAction",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: "{paymentid:" + paymentid + ", actionid:" + actionid + "}",
                    success: function (msg) {
                        if (msg.d != null) {
                            if (msg.d.Success) {
                                $('#paymentid' + paymentid).hide();
                            }
                            else
                                alert(msg.d.ErrorMessage);
                        }
                        else
                            alert("No Response, please contact admin to check!");
                    }
                });

            }

            function updateTips(t) {
                $(".validateTips").text(t).addClass("ui-state-highlight");
                setTimeout(function () {
                    tips.removeClass("ui-state-highlight", 1500);
                }, 500);
            }

            function checkLength(o, n, min, max) {
                if (o.val().length > max || o.val().length < min) {
                    o.addClass("ui-state-error");
                    updateTips("Length of " + n + " must be between " + min + " and " + max + ".");
                    return false;
                } else {
                    return true;
                }
            }

            $("#processcomplete")
              .click(function () {
                  $("#dialog-message").html("<p class='validateTips'>All form fields are required.</p><form><div class='inputArea'><fieldset><label for='folder'>Enter export foldername</label><input type='text' id='folder'></input></fieldset></div></form>").dialog("open");
              });

            $("#dialog-message").html("").dialog({
                autoOpen: false,
                height: 300,
                width: 350,
                modal: true,
                buttons: {
                    "Make as imported": function () {
                        var bValid = true,
                        folder = $("#folder");
                        bValid = bValid && checkLength(folder, "folder", 3, 16);

                        if (bValid) {
                            $.ajax({
                                type: "POST",
                                url: "ManagePaymentPage.aspx/ProcessConfirmed",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                data: "{filepath:'" + folder.val() + "'}",
                                success: function (msg) {
                                    if (msg.d != null) {
                                        if (msg.d.Success) {
                                            refreshCurrentTab();
                                            $(this).dialog("close");
                                        }
                                        else
                                            alert(msg.d.ErrorMessage);
                                    }
                                    else
                                        alert("No Response, please contact admin to check!");
                                }
                            });

                        }
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    $([]).add(folder).val("").removeClass("ui-state-error");
                }
            });

        });
    </script>
    <style type="text/css">
        .ConfirmPayment
        {
            background: url('../Content/img/actions/user_delete.png') no-repeat;
            display: inline-block;
            height: 16px;
            width: 16px;
        }
        .UnConfirmPayment
        {
            background: url('../Content/img/actions/user_accept.png') no-repeat;
            display: inline-block;
            height: 16px;
            width: 16px;
        }
        
        body
        {
            font-size: 62.5%;
        }
        label, input
        {
            display: block;
        }
        input.text
        {
            margin-bottom: 12px;
            width: 95%;
            padding: .4em;
        }
        fieldset
        {
            padding: 0;
            border: 0;
            margin-top: 25px;
        }
        h1
        {
            font-size: 1.2em;
            margin: .6em 0;
        }
        div#users-contain
        {
            width: 350px;
            margin: 20px 0;
        }
        div#users-contain table
        {
            margin: 1em 0;
            border-collapse: collapse;
            width: 100%;
        }
        div#users-contain table td, div#users-contain table th
        {
            border: 1px solid #eee;
            padding: .6em 10px;
            text-align: left;
        }
        .ui-dialog .ui-state-error
        {
            padding: .3em;
        }
        .validateTips
        {
            border: 1px solid transparent;
            padding: 0.3em;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="maincontent" runat="Server">
    <asp:Label ID="newPageName" runat="server" Text="Manage Family Payments Page" BorderStyle="None" Visible="false"></asp:Label> <!-- Page Name -->
    <div id="searchcontainer">
        <table id="Table1">
            <tbody>
                <tr>
                    <td>
                        Payment Date is between
                    </td>
                    <td>
                        Start Date
                    </td>
                    <td>
                        <asp:TextBox ID="startperiod" runat="server" />
                    </td>
                    <td>
                        End Date
                    </td>
                    <td>
                        <asp:TextBox ID="endperiod" runat="server" />
                    </td>
                    <td>
                        Or Text Search
                    </td>
                    <td>
                        <asp:TextBox ID="filterstring" runat="server" EnableViewState="true" Font-Size="X-Large"
                            OnTextChanged="lookupPayment"></asp:TextBox>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="resultscontainer">
        <span id="repeat" runat="server" repeatdirection="Horizontal">
        <a href="?Action=unconfirmed">Unconfirmed Payment</a>
        <a href="?Action=confirmed">Confirmed</a>
        <a href="?Action=processed">Processed</a>
        <asp:LinkButton ID="LinkButton2" runat="server" OnClick="lookupPayment"><span>Search Payments</span></asp:LinkButton>
        </span><span style="float: right;"></span><span>
            <asp:Label ID="resultsreturned" runat="server" Text='Records Found: 0'>
            </asp:Label>
        </span><span style="float: right">
            <% if (_action == "confirmed")
               {%>
            <a href="#" id="processcomplete"><img src="../Content/img/actions/tools.png" alt="Bank Details" />Mark Payments Processed</a>&nbsp; <a href="<%= ReportPath("FinanceReports","ConfirmedPaymentDetails","EXCEL") %>">
                <img src="../Content/img/actions/bank.png" alt="Bank Details" />Bank Details</a>&nbsp;
            <a href="<%= ReportPath("FinanceReports","FamilyPaymentsReport","EXCEL") %>">
                <img src="../Content/img/actions/euro_sign.png" alt="Payments" />Payments</a>
            <% } %>
        </span>
        <table id="box-table-a" class="tablesorter">
            <thead>
                <tr>
                    <th scope="col">
                        Id
                    </th>
                    <th scope="col">
                        Family
                    </th>
                    <th scope="col">
                        Dates (From-To)
                    </th>
                    <th scope="col">
                        Days Covered
                    </th>
                    <th scope="col">
                        Amount
                    </th>
                    <th scope="col">
                        Comment
                    </th>
                    <th scope="col">
                        Reference
                    </th>
                    <th scope="col">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <asp:Repeater ID="results" runat="server" EnableViewState="True">
                    <ItemTemplate>
                        <tr id="paymentid<%#DataBinder.Eval(Container.DataItem, "PaymentId")%>">
                            <td style="text-align: left">
                                <%#DataBinder.Eval(Container.DataItem, "PaymentId")%>
                            </td>
                            <td style="text-align: left">
                                <%# FamilyLink(DataBinder.Eval(Container.DataItem, "Family.FamilyId"), "~/Accommodation/ViewAccommodationPage.aspx", CreateName(DataBinder.Eval(Container.DataItem, "Family.FirstName"), DataBinder.Eval(Container.DataItem, "Family.SurName")))%>
                            </td>
                            <td style="text-align: left">
                                <%#DataBinder.Eval(Container.DataItem, "FromDate","{0:MMM dd, yyy}") %>
                                /
                                <%#DataBinder.Eval(Container.DataItem, "ToDate","{0:MMM dd, yyy}") %>
                            </td>
                            <td style="text-align: left">
                                <%#DataBinder.Eval(Container.DataItem, "DaysCovered") %>
                            </td>
                            <td style="text-align: left">
                                <a href="#" class="popupTrigger" rel="<%#DataBinder.Eval(Container.DataItem, "PaymentId")%>,ManagePaymentPage.aspx/PopupPayments">
                                    <%#DataBinder.Eval(Container.DataItem, "Amount", "{0:c}") %></a>
                            </td>
                            <td style="text-align: left">
                                <%#DataBinder.Eval(Container.DataItem, "Comment") %>
                            </td>
                            <td style="text-align: left">
                                <%#DataBinder.Eval(Container.DataItem, "PaymentRef")%>
                            </td>
                            <td style="text-align: left">
                                <a href="#" onclick="loadEditArrayControl('#dialog-form','ViewAccommodationPage.aspx','Accommodation/AddFamilyPaymentControl.ascx',{'FamilyPaymentId':<%#DataBinder.Eval(Container.DataItem, "PaymentId")%>})"
                                    title="Edit Payment">
                                    <asp:Image ID="editpmt" runat="server" ImageUrl="../Content/img/actions/edit.png"
                                        Visible='<%#  Eval("ExportedRef") == null %>' /></a> <a onclick="paymentAction(<%#DataBinder.Eval(Container.DataItem, "PaymentId")%>,1)"
                                            title="Confirm Payment">
                                            <asp:Image ID="confpayment" runat="server" ImageUrl="../Content/img/actions/accept.png"
                                                Visible='<%# Eval("Confirmed").ToString()!="True" &&  Eval("ExportedRef") == null  %>' /></a>
                                <a onclick="paymentAction(<%#DataBinder.Eval(Container.DataItem, "PaymentId")%>,2)"
                                    title="UnConfirmPayment">
                                    <asp:Image ID="unconfpmt" runat="server" ImageUrl="../Content/img/actions/delete.png"
                                        Visible='<%# Eval("Confirmed").ToString()!="False" &&  Eval("ExportedRef") == null %>' /></a>
                                <a class="ConfirmStudent" onclick="paymentAction( <%# DataBinder.Eval(Container.DataItem, "PaymentId") %>,1)"
                                    title="Confirm Payment"></a>
                            </td>
                        </tr>
                    </ItemTemplate>
                </asp:Repeater>
            </tbody>
        </table>
    </div>
</asp:Content>
