﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AddNewVehicleControl.ascx.cs"
    Inherits="Transport_AddNewVehicleControl" %>

<script type="text/javascript">
    $(function () {

        getForm = function () {
            return $("#addvehicle");
        }

        getTargetUrl = function () {
            return '<%= ToVirtual("~/Transport/ViewTransportSupplierPage.aspx","SaveVehicle") %>';
        }

        getLocalRules = function () {
            return {};
        }

        getLocalMessages = function () {
            return {};
        }

    });
    
</script>
<p id="message" style="display: none;">
    All fields must be completed</p>
<form id="addvehicle" name="addvehicle" method="post" action="ViewTransportSupplierPage.aspx/SaveVehicle">
<div class="inputArea">
    <fieldset>
        <input type="hidden" id="VehicleId" value="<%= GetVehicleId %>" />
        <input type="hidden" name="TransportSupplier" id="TransportSupplierId" value="<%= GetTransportSupplierId %>" />
        <label>
            Max Capacity
        </label>
        <input type="text" name="Cost" id="MaxCapacity" value="<%= GetMaxCapacity %>" />
        <label>
            Min Capacity
        </label>
        <input type="text" name="Cost" id="MinCapacity" value="<%= GetMinCapacity %>" />
        <label>
            Trip Type
        </label>
        <select name="Xlk_VehicleType" id="VehicleTypeId">
            <%= GetVehicleTypeList()%>
        </select>
    </fieldset>
</div>
</form>
