﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AddTransportBookingControl.ascx.cs"
    Inherits="Transport_AddTransportBookingControl" %>
<script type="text/javascript">
    $(function () {

        getForm = function () {
            return $("#addtransportbooking");
        }

        getTargetUrl = function () {
            return '<%= ToVirtual("~/Transport/PlanBookingsPage.aspx","SaveTransportBooking") %>'; 
        }

        getLocalRules = function () {
            return {};
        }

        getLocalMessages = function () {
            return {};
        }

        $('.inputtarget').keyup(function () { findVehicles($("#NumberOfPassengers").val(), $('select[name="DropoffLocation"]').val(), $('select[name="PickupLocation"]').val(), $("#TripTypeId").val()) });

        $('.target').change(function () {
            findVehicles($("#NumberOfPassengers").val(), $('select[name="DropoffLocation"]').val(), $('select[name="PickupLocation"]').val(), $("#TripTypeId").val())
        });


        findVehicles = function (qty, dropofflocationid, pickuplocationid, triptypeid) {
            var params = '{qty:' + qty + ', dropofflocationid:' + dropofflocationid + ', pickuplocationid:' + pickuplocationid + ', triptypeid:' + triptypeid + '}';
            $.ajax({
                type: "POST",
                url:'<%= ToVirtual("~/Transport/PlanBookingsPage.aspx","FindVehicles") %>',
                data: params,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    if (msg.d != null) {
                        if (msg.d.Success) {
                            $("#VehicleList").html(msg.d.Payload);
                        }
                        else
                            alert(msg.d.ErrorMessage);
                    }
                    else
                        alert("No Response, please contact admin to check!");
                }
            });
        }

        $("#RequestedDate").datepicker({ dateFormat: 'dd/mm/yy' });
    });
    
</script>
<p id="message" style="display: none;">
    All fields must be completed</p>
<form id="addtransportbooking" name="addtransportbooking" method="post" action="PlanBookingsPage.aspx/SaveTransportBooking">
<div class="inputArea">
    <fieldset id="booking">
        <input type="hidden" id="<%= _ParentType %>" value="<%= _ParentValue %>" />
        <label>
            Title
        </label>
        <input type="text" name="Title" id="Title" value="<%= GetTitle %>" />
        <label>
            Number Of Passengers
        </label>
        <input class="inputtarget" type="text" name="NumberOfPassengers" id="NumberOfPassengers" value="<%= GetNumberOfPassengers %>" />
        <label>
            Requested Date
        </label>
        <input type="datetext" name="RequestedDate" id="RequestedDate" value="<%= GetRequestedDate %>" />
        <label>
            Requested Time
        </label>
        <input type="text" name="RequestedTime" id="RequestedTime" value="<%= GetRequestedTime %>" />
        <label>
            Pickup Point
        </label>
        <select class="target" name="PickupLocation" id="LocationId">
            <%= GetPickUpLocationList()%>
        </select>
        <label>
            Pickup Location Information
        </label>
        <input type="text" name="PickupLocationInfo" id="PickupLocationInfo" value="<%= GetPickupLocationInfo %>" />
        <label>
            Drop Off Point
        </label>
        <select class="target" name="DropoffLocation" id="LocationId">
            <%= GetDropOffLocationList()%>
        </select>
        <label>
            Dropoff Location Information
        </label>
        <input type="text" name="DropoffLocationInfo" id="DropoffLocationInfo" value="<%= GetDropoffLocationInfo %>" />
        <label>
            Rep Pickup Point
        </label>
        <select name="RepPickupLocation" id="LocationId">
            <%= GetRepCollectionLocationList()%>
        </select>
        <label>
            Collection Info
        </label>
        <textarea name="CollectionInfo" id="CollectionInfo"><%= GetCollectionInfo %></textarea>
        <label>
            Dropoff Info
        </label>
        <textarea name="DropoffInfo" id="DropoffInfo"><%= GetDropoffInfo %></textarea>
        <label>
            Rep Pickup Point
        </label>
        <select class="target" name="Xlk_TripType" id="TripTypeId">
            <%= GetTripTypeList()%>
        </select>
    </fieldset>
    <% 
        if (!GetValue<Int32?>("BookingId").HasValue)
        {
        %>
            <fieldset id="vehicles">
                <label>
                    Vehicles needed for Transport:
                </label>
                <div id="VehicleList">
                    <%= GetVehicleCheckboxList().Payload%>
                </div>
            </fieldset>
    <% } %>
</div>
</form>
