﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" 
    CodeFile="AustrianLeaders.aspx.cs" Inherits="Groups_AustrianLeaders" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    
    <script type="text/javascript" language="javascript">
        $(function () {
            $("table").tablesorter()
    });
    </script>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="maincontent" runat="server">
    <div id="pagename">
        <span style="font-style:italic; font-weight:bolder; font-size:larger">
            Austrian Leaders Query Page
        </span>
    </div>
    <div id="searchcontainer">
        <table id="search-table">
            <tbody>
                <tr>
                    <td>
                        Enter First Name, Surname or Full Name
                    </td>
                    <td>
                    <asp:TextBox ID="lookupString" runat="server" class="text ui-widget-content ui-corner-all"
                            EnableViewState="true" OnTextChanged="lookupleader" Font-Size="X-Large"></asp:TextBox>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="resultscontainer">
        <span style="float: right;">
            <asp:Label ID="resultsreturned" runat="server" Text='Records Found: 0'>
            </asp:Label>
        </span>
        <table id="box-table-a" class="tablesorter">
            <thead>
                <tr>
                    <th scope="col">
                        Group Id
                    </th>
                    <th scope="col">
                        Leader Name
                    </th>
                    <th scope="col">
                        View Group
                    </th>
                    <th scope="col">
                        Last Time Here
                    </th>
                </tr>
            </thead>
            <tbody style="font-size: smaller">
                <asp:Repeater ID="results" runat="server" EnableViewState="true">
                    <ItemTemplate>
                        <tr>
                            <td style="text-align: center; font-size:larger">
                                <%#DataBinder.Eval(Container.DataItem, "GroupId") %>
                            </td>
                            <td style="text-align: center">
                                <%#DataBinder.Eval(Container.DataItem, "FirstName") %> <%#DataBinder.Eval(Container.DataItem, "SurName") %>
                            </td>
                            <td style="text-align: center">
                                <%# GroupLink(DataBinder.Eval(Container.DataItem, "GroupId"), "~/Groups/ViewGroupPage.aspx", CreateName("Group for ", DataBinder.Eval(Container.DataItem, "FirstName"))) %>
                            <td style="text-align: center">
                                <b><%#DataBinder.Eval(Container.DataItem, "ArrivalDate", "{0:d}") %></b> to <b><%#DataBinder.Eval(Container.DataItem, "DepartureDate", "{0:d}") %></b>
                            </td>
                        </tr>
                    </ItemTemplate>
                </asp:Repeater>
            </tbody>
        </table>
    </div>
</asp:Content>