﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"
    CodeFile="FamilyReservationPage.aspx.cs" Inherits="Groups_FamilyReservationPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script type="text/javascript">
        $(function () {

            getGroupsFamilies = function (groupid) {
                $.ajax({
                    type: "POST",
                    url: "FamilyReservationPage.aspx/BuildGroupedFamilies",
                    data: JSON.stringify({ groupid: groupid }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        if (msg.d != null) {
                            if (msg.d.Success) {
                                $('#Li_' + groupid).html(msg.d.Payload);
                        }
                        else
                            alert(msg.d.ErrorMessage);
                    }
                    else
                        alert("No Response, please contact admin to check!");
                    }
                });
            }

            displayActions = function () {

                $('.draggable').mouseover(function () {
                    $(this).find('a:.highlighter').show();
                });

                $('.draggable').mouseout(function () {
                    $(this).find('a:.highlighter').hide();
                });

                createPopUp();
            };

            ShowFamily = function (id) {
                $('div.orange').removeClass('orange');
                $('div[name=' + id + ']').addClass('orange');
            }

            displayActions();

            getFamilies = function (statusid, familytypeid, familysearch, roomtypeid, qty) {
                $.ajax({
                    type: "POST",
                    url: "FamilyReservationPage.aspx/FindFamilies",
                    data: JSON.stringify({ statusid: statusid, familytypeid: familytypeid, familysearch: familysearch, roomtypeid: roomtypeid, strqty: qty }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        if (msg.d != null) {
                            if (msg.d.Success) {
                            $('#filteredfamilies').html(msg.d.Payload);
                            displayActions();
                        }
                        else
                            alert(msg.d.ErrorMessage);
                    }
                    else
                        alert("No Response, please contact admin to check!");
                    }
                });
            }

            $(".draggable").draggable({
                helper: "clone",
                revert: "invalid",
                containment: ".resultscontainer",
                highlight: ('div', 'highlight-selected', 'mousedown'),
                scroll: false
            });

            $(".droppable").droppable({
                accept: ".draggable",
                activeClass: "ui-state-hover",
                hoverClass: "ui-state-active",
                drop: function (event, ui) {
                    $(this).addClass("ui-state-highlight");
                    assignFamilyToGroup(this.id, ui.draggable.attr('id'))
                }
            });

            $(function () {
                $("#assigned").jScroll();
            });

            RemoveFamily = function (familyid, groupid) {
                $("#dialog-message").html('<p><span class="ui-icon ui-icon-alert"></span>The reservation will be permanently deleted and cannot be recovered. Are you sure?</p>')
                    .dialog({
                        autoOpen: true,
                        resizable: true,
                        width: '400px',
                        height: 'auto',
                        modal: true,
                        buttons: {
                            "Delete item": function () {
                                $.ajax({
                                    type: "POST",
                                    url: "FamilyReservationPage.aspx/DeleteGroupedFamily",
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    data: JSON.stringify({ familyid: familyid, groupid: groupid }),
                                    success: function (msg) {
                                        if (msg.d != null) {
                                            if (msg.d.Success) {
                                                getGroupsFamilies(groupid);
                                            }
                                            else
                                                alert(msg.d.ErrorMessage);
                                        }
                                        else
                                            alert("No Response, please contact admin to check!");
                                    }
                                });
                                $(this).dialog("close");
                            },
                            Cancel: function () {
                                $(this).dialog("close");
                            }
                        }
                    });
            }


            $('.watcher').change(function () {
                getFamilies($('#<%= familystatus.ClientID %> option:selected').val(), $('#<%= familytype.ClientID %> option:selected').val(), $('#<%= familysearch.ClientID %>').val(), $('#<%= roomlist.ClientID %> option:selected').val(), $('#<%= qtysearch.ClientID %>').val());
            });

            showPrintOptions = function () {
                $("#dialog-print").dialog("open");
            };

            $("#dialog-print").css({ 'background-color': '#E0FFFF' }).dialog({
                autoOpen: false,
                modal: true
            });

            assignFamilyToGroup = function (groupid, familyid) {
                $.ajax({
                    type: "POST",
                    url: "FamilyReservationPage.aspx/AssignFamilyToGroup",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({ familyid: familyid, groupid: groupid }),
                    success: function (msg) {
                        if (msg.d != null) {
                            if (msg.d.Success) {
                                getGroupsFamilies(groupid);
                        }
                        else
                            alert(msg.d.ErrorMessage);
                    }
                    else
                        alert("No Response, please contact admin to check!");
                    }
                });
            };

        });
    </script>
    <style type="text/css">
        .highlighter 
        {
        	display:none;
        }
        .filterinput
        {
            width: 80%;
        }
        .orange
        {
            color: White;
            background: Orange;
        }
        #disconnect
        {
            float: left;
        }
        .classtd
        {
            border: 1px solid #AED0EA;
            vertical-align: top;
        }
        .classlist
        {
            float: left;
        }
        .classlist div
        {
            font-weight: bold;
        }
        #notassigned
        {
            float: left;
        }
        .highlight-selected
        {
            background-color: Blue;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="maincontent" runat="server">
    <asp:Label ID="newPageName" runat="server" Text="Family Reservation Page" BorderStyle="None" Visible="false"></asp:Label> <!-- Page Name -->
    <div id="searchcontianer">
        <table id="search-table">
            <tbody>
                <tr>
                    <td style="font-size: large">
                        Month
                        <asp:DropDownList ID="monthselect" runat="server" AppendDataBoundItems="true" DataValueField="key"
                            DataTextField="value" Font-Size="Large">
                            <asp:ListItem Value="-1" Text="All">
                            </asp:ListItem>
                        </asp:DropDownList>
                        <asp:LinkButton ID="monthfilter" runat="server" Text="Filter" CssClass="button" OnClick="Click_ReBuild">
                        </asp:LinkButton>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="resultscontainer" style="width: 3000px;">
        <div id="notassigned" style="width: 300px;">
            <table id="ctl00_maincontent_results" cellspacing="0" border="0" style="border-collapse: collapse;">
                <tbody>
                    <tr>
                        <td class="classtd">
                            <ul class="classlist" style="float: left; list-style-type: none; font-style: italic;"
                                id="familyhighlight">
                                <div id="header">
                                    <li>
                                        <asp:Label runat="server" Text="Filter 1:">
                                        </asp:Label>
                                        <asp:DropDownList ID="familystatus" CssClass="watcher filterinput" runat="server" DataValueField="StatusId"
                                            DataTextField="Description">
                                        </asp:DropDownList>
                                    </li>
                                    <li>
                                        <asp:Label runat="server" Text="Filter 2:" CssClass="filterinput">
                                        </asp:Label>
                                        <asp:DropDownList ID="roomlist" CssClass="watcher filterinput" runat="server" AppendDataBoundItems="true"
                                            DataValueField="RoomTypeId" DataTextField="Description">
                                            <asp:ListItem Value="0" Text="Room Type">
                                            </asp:ListItem>
                                        </asp:DropDownList>
                                    </li>
                                   <li>
                                        <asp:Label ID="Label2" runat="server" Text="Filter 3:" CssClass="filterinput">
                                        </asp:Label>
                                        <asp:DropDownList ID="familytype" CssClass="watcher filterinput" runat="server" AppendDataBoundItems="true"
                                            DataValueField="FamilyTypeId" DataTextField="Description">
                                            <asp:ListItem Value="0" Text="Family Type">
                                            </asp:ListItem>
                                        </asp:DropDownList>
                                    </li>
                                    <li>
                                        <asp:Label runat="server" Text="Filter 4:">
                                        </asp:Label>
                                        <asp:TextBox ID="familysearch" runat="server" CssClass="watcher filterinput" ToolTip="Filter by text">
                                        </asp:TextBox>
                                    </li>
                                    <li>
                                        <asp:Label ID="Label1" runat="server" Text="Reservation qty less than">
                                        </asp:Label>
                                        <asp:TextBox ID="qtysearch" runat="server"  CssClass="watcher" ToolTip="Filter by qty">
                                        </asp:TextBox>
                                    </li>
                                    <li>
                                        <asp:Label runat="server" Text="Clear">
                                        </asp:Label>
                                        <asp:ImageButton ImageUrl="~/Content/img/actions/user_delete.png" ID="clearfilter"
                                            runat="server" Text="Clear Filters" />
                                    </li>
                                </div>
                                <li id="filteredfamilies">
                                    <%= FindFamilies(Convert.ToByte(familystatus.SelectedItem.Value), Convert.ToByte(familytype.SelectedItem.Value), familysearch.Text, Convert.ToByte(roomlist.SelectedItem.Value), qtysearch.Text).Payload%>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="assigned" style="width: 80%; float: inherit">
            <asp:DataList ID="results" runat="server" RepeatDirection="Horizontal" CellSpacing="2"
                CellPadding="2">
                <HeaderStyle Font-Names="Verdana" Font-Size="10pt" HorizontalAlign="center" Font-Bold="True" />
                <ItemStyle CssClass="classtd" />
                <ItemTemplate>
                    <ul class="classlist" style="float: left; list-style-type: none; width: 210px;">
                        <div id="<%#DataBinder.Eval(Container.DataItem, "GroupId")%>" class="droppable">
                            <li style="text-align: center">
                                <%# GroupedStudentsLink(DataBinder.Eval(Container.DataItem, "GroupId"), "~/Groups/ViewGroupPage.aspx", CreateName(DataBinder.Eval(Container.DataItem, "GroupName"),"(" + DataBinder.Eval(Container.DataItem, "Status") + ")")) %>
                                <a target="_blank" href="<%#BasePage.ReportPath("GroupReports","ReservedGroupFamilyListing","HTML4.0", new Dictionary<string, object> { { "GroupId", DataBinder.Eval(Container.DataItem, "GroupId") } }) %>"
                                title="Print First Day Forms"><img src="../Content/img/actions/printer.png" title="Print Options" /></a>
                            </li>
                            <li style="text-align: center">Families Needed:
                                <%# DataBinder.Eval(Container.DataItem, "FamilyNumbers") %>
                            <li style="text-align: center">
                                <%#DataBinder.Eval(Container.DataItem, "Arrival", "{0:dd MMM yyyy}") %>
                                -
                                <%# DataBinder.Eval(Container.DataItem, "Departure", "{0:dd MMM yyyy}") %>
                               <a onclick="getGroupsFamilies(<%# DataBinder.Eval(Container.DataItem, "GroupId")%>);" ><img alt="refresh" src="../Content/img/actions/refresh.png"/></a>
                            </li>
                            <li id="Li_<%#DataBinder.Eval(Container.DataItem, "GroupId")%>">
                                <%# BuildGroupedFamilies(DataBinder.Eval(Container.DataItem, "GroupId")).Payload%>
                            </li>
                        </div>
                    </ul>
                </ItemTemplate>
                <FooterTemplate>
                </FooterTemplate>
            </asp:DataList>
        </div>
    </div>
</asp:Content>
