﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"
    CodeFile="ParseSFAStudentListPage.aspx.cs" Inherits="Groups_ParseSFAStudentListPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">

    <script type="text/javascript">
        $(function() {

            $("#<%= repeat.ClientID %>").buttonset();

            $('#loadGroup').bind('click', function() {
                if ($('#loadGroup').attr("href") =="#")
                    $('#loadGroup').attr("href", "ViewGroupPage.aspx?GroupId=" + $('#<%= listgroups.ClientID  %> option:selected').val())
            });

            $('#<%= listgroups.ClientID  %>').change(function() {
                $('#loadGroup').attr("href", "ViewGroupPage.aspx?GroupId=" + $('#<%= listgroups.ClientID  %> option:selected').val())
            });

            saveStudents = function() {
                $("#dialog-message").html('<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>All student currently tied to this group will be deleted and cannot be recovered. Are you sure?</p>')
                     .dialog({
                         autoOpen: true,
                         resizable: false,
                         width: 'auto',
                         height: 'auto',
                         modal: true,
                         buttons: {
                             "Save Students": function() {
                                 __doPostBack('<%= submit.UniqueID %>', '');
                             },
                             Cancel: function() {
                                 $(this).dialog("close");
                             }
                         }
                     });
                return false; ;
            }
        });
    </script>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="maincontent" runat="Server">
<%--    <div id="pagename">
        <span style="font-style: italic; font-weight: bolder; font-size: larger">SFA Groups Student Importer Page </span>
    </div>--%>
    <div id="searchcontainer">
        <table id="search-table">
            <tbody>
                <tr>
                    <td>
                        Group
                    </td>
                    <td>
                        <asp:DropDownList ID="listgroups" runat="server" DataTextField="GroupName" DataValueField="GroupId"
                            AppendDataBoundItems="true">
                        </asp:DropDownList>
                       <a id="loadGroup" href="#"><img src="../Content/img/actions/next.png" /></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="resultscontainer">
            <p>
            Format is:
            <table class="box-table-a">
                <tr>
                    <th>
                        Type (Teacher/Student)
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Second Last Name
                    </th>
                    <th>
                        Gender (M/F)
                    </th>
                    <th>
                        DOB
                    </th>
                    <th>
                        Sharing with 1
                    </th>
                    <th>
                        Sharing with 2
                    </th>
                    <th>
                        Arrival Date
                    </th>
                    <th>
                        Departure Date
                    </th>
                    <th>
                        Comment
                    </th>
                    <th>
                        Allergy
                    </th>
                </tr>
            </table>
        </p>
        <br />
        <p>
        <span id="repeat" runat="server" repeatdirection="Horizontal">
            <asp:LinkButton ID="raw" runat="server" OnClick="raw_Click">Raw</asp:LinkButton>
            <asp:LinkButton ID="parsed" runat="server" OnClick="parsed_Click">Parsed Students</asp:LinkButton>
        </span>
        <div>
            <% if (_action == "raw")
               { %>
            <textarea rows="20" cols="10" id="rawtext" runat="server" style="width:100%"><%# LoadRawText() %></textarea>
            <% }
               else
               { %>
               <span id="qty" runat="server" style="float:right"></span>
            <table id="box-table-a" class="tablesorter">
                <thead>
                    <tr>
                        <th scope="col">
                            Type
                        </th>
                        <th scope="col">
                            Name
                        </th>
                        <th scope="col">
                            Gender
                        </th>
                        <th scope="col">
                            Age
                        </th>
                        <th scope="col">
                            DOB
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <asp:Repeater ID="results" runat="server" EnableViewState="true">
                        <ItemTemplate>
                            <tr>
                                <td style="text-align: left">
                                    <%#DataBinder.Eval(Container.DataItem, "Xlk_StudentType.Description") %>
                                </td>
                                <td style="text-align: left">
                                   <%#CreateName(DataBinder.Eval(Container.DataItem, "FirstName"), DataBinder.Eval(Container.DataItem, "SurName")) %>
                                </td>
                                <td style="text-align: left">
                                    <%#DataBinder.Eval(Container.DataItem, "Xlk_Gender.Description")%>
                                </td>
                                <td style="text-align: left">
                                    <%# CalculateAge((DateTime)DataBinder.Eval(Container.DataItem, "DateOfBirth")) %>
                                </td>
                                <td style="text-align: left">
                                    <%#DataBinder.Eval(Container.DataItem, "DateOfBirth", "{0:dd MMM yyyy}")%>
                                </td>
                            </tr>
                        </ItemTemplate>
                    </asp:Repeater>
                </tbody>
            </table>
            <span style="float:right"><asp:Button ID="submit" runat="server" 
                Text="Save Student" OnClick="submit_Click" OnClientClick="javascript:return saveStudents()" /></span>
            <% } %>
        </div>
    </div>
</asp:Content>
