﻿
<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"
    CodeFile="SearchVouchersPage.aspx.cs" Inherits="SearchVouchersPage" %>
<asp:Content ID="script" ContentPlaceHolderID="head" runat="server">

    <script type="text/javascript" language="javascript">
        $(function() {
            $("table").tablesorter()

            printVoucher = function(id) {
                $('#print-form').load('PrintPage.aspx?VoucherId=' + id, function() {
                    $('#myPrintArea').printArea({ mode: "popup", popWd : "520px",popTitle : "Print Voucher" });
                });
            }
        });
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="maincontent" runat="server">
    <asp:Label ID="newPageName" runat="server" Text="Search Vouchers Page" BorderStyle="None" Visible="false"></asp:Label> <!-- Page Name -->
<div id="resultsbox">
        <asp:Label ID="resultsreturned" runat="server" Text='Records Found: 0'>
        </asp:Label>
    </div>
    <div id="searchcontainer">
        <table id="search-table">
            <tbody>
                <tr>
                    <td>
                        Browse By
                    </td>
                    <td>
                        <asp:DropDownList ID="SupplierType" runat="server" DataTextField="Description" DataValueField="SupplierTypeId"
                            OnSelectedIndexChanged="supplierType_SelectedIndexChanged" AutoPostBack="true" OnDataBound="supplierType_DataBound">
                        </asp:DropDownList>
                    </td>
                    <td>
                        <asp:DropDownList ID="supplier" runat="server" AppendDataBoundItems="true" DataTextField="Title" DataValueField="SupplierId"
                            AutoPostBack="True" OnSelectedIndexChanged="supplier_SelectedIndexChanged" OnDataBound="supplier_DataBound">
                            <asp:ListItem Text="Choose One" Value="0" />
                        </asp:DropDownList>
                    </td>
                    </tr>
                    <tr>
                        <td>
                            .
                        </td>
                    </tr>
                    <tr>
                    <td>
                        Group Name/Our Ref/Supplier Ref
                    </td>
                    <td>
                        <asp:TextBox ID="lookupString" runat="server">
                        </asp:TextBox>
                    </td>
                    <td>
                        <asp:Button ID="search" runat="server" Text="Search" onclick="Click_SearchVouchers"/>
                    </td>
                    <td>
                        <asp:Button ID="clrFilter" runat="server" Text="Clear Filter" OnClick="Click_ClearFilter"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="resultscontainer">
        <span style="float: right;">
            <asp:HyperLink Style="font-size: smaller;" ID="HyperLink1" runat="server" NavigateUrl="~/Suppliers/VouchersPage.aspx" >Add New Voucher</asp:HyperLink></span>
        
        <table id="box-table-a" class="tablesorter">
            <thead>
                <tr>
                    <th scope="col" style="font-size:x-small">
                        Id
                    </th>
                    <th scope="col" style="font-size:x-small">
                        Supplier Type
                    </th>
                   <th scope="col" style="font-size:x-small">
                       Supplier
                    </th>
                    <th scope="col" style="font-size:x-small">
                        Pace Ref
                    </th>
                    <th scope="col" style="font-size:x-small">
                        Title
                    </th>
                    <th scope="col" style="font-size:x-small">
                        No of Students
                    </th>
                    <th scope="col" style="font-size:x-small">
                        No of Leaders
                    </th>
                    <th scope="col" style="font-size:x-small">
                        Supplier Ref
                    </th>
                    <th scope="col" style="font-size:x-small">
                        Description
                    </th>
                    <th scope="col" style="font-size:x-small">
                        Pre-Payment Reference
                    </th>
                    <th scope="col" style="font-size:x-small">
                        Expected Cost
                    </th>
                    <th scope="col" style="font-size:x-small">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <asp:Repeater ID="results" runat="server" EnableViewState="True" >
                    <ItemTemplate>
                        <tr>
                            <td style="text-align:center; font-size:x-small">
                                <%#DataBinder.Eval(Container.DataItem, "VoucherId")%>
                            </td>
                            <td style="text-align:center; font-size:x-small">
                               <%#DataBinder.Eval(Container.DataItem, "Supplier.Xlk_SupplierType.Description") %>
                            </td>
                            <td style="font-weight: bold;text-align:center; font-size:x-small">
                                <%#DataBinder.Eval(Container.DataItem, "Supplier.Title")%>
                            </td>
                            <td style="text-align:center; font-size:x-small">
                                <%#DataBinder.Eval(Container.DataItem, "OurRef") %>
                            </td>
                            <td style="text-align:center; font-size:x-small">
                                <%#DataBinder.Eval(Container.DataItem, "Title") %>
                            </td>
                            <td style="text-align:center; font-size:x-small">
                                <%#DataBinder.Eval(Container.DataItem, "NumberOfStudents") %>
                            </td>
                            <td style="text-align:center; font-size:x-small">
                                <%#DataBinder.Eval(Container.DataItem, "NumberOfLeaders") %>
                            </td>
                            <td style="text-align:center; font-size:x-small">
                                <%#DataBinder.Eval(Container.DataItem, "SupplierRef") %>
                            </td>
                            <td style="text-align:center; font-size:x-small">
                                <asp:Image ID="Image1" runat="server" src="../Content/img/house.jpg"
                                ToolTip='<%#DataBinder.Eval(Container.DataItem, "Description") %>'>
                                </asp:Image>
                            </td>
                            <td style="text-align:center; font-size:x-small">
                                <%#DataBinder.Eval(Container.DataItem, "PrepaidReference") %>
                            </td>
                            <td style="text-align:center; font-size:x-small">
                                <%#DataBinder.Eval(Container.DataItem, "ExpectedCost", "{0:c}") %>
                            </td>
                            <td style="text-align:center; font-size:x-small">
                                <a href="#" onclick="printVoucher(<%#DataBinder.Eval(Container.DataItem, "VoucherId")%>)" >
                                    <img src="../Content/img/printer.jpg" title="Print" />
                                </a>
                                <img src="../Content/img/divider.jpg" />
                                <a href="VouchersPage.aspx?VoucherId=<%#DataBinder.Eval(Container.DataItem, "VoucherId") %>">
                                    <img src="../Content/img/edit.jpg" title="Edit"/>
                                </a>
                            </td>
                        </tr>
                    </ItemTemplate>
                </asp:Repeater>
            </tbody>
        </table>
    </div>
        <!-- Areas for showing in the dialog -->
    <div id="print-form" style="display:none">
    </div>
</asp:Content>