﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AddStudentNoteControl.ascx.cs"
    Inherits="Student_AddNote" %>

<script type="text/javascript">
    $(function () {

        getForm = function () {
            return $("#addstudentnote");
        }

        getTargetUrl = function () {
            return '<%= ToVirtual("~/Enrollments/ViewStudentPage.aspx","SaveStudentNote") %>';
        }

        getLocalRules = function () {
            return {};
        }

        getLocalMessages = function () {
            return {};
        }

    });
    
</script>

<p id="message" style="display: none;">
    All fields must be completed</p>
<form id="addstudentnote" name="addstudentnote" method="post" action="ViewAccommodationPage.aspx/SaveFamilyNote">
<div class="inputArea">
    <fieldset>
        <input type="hidden" name="Student" id="StudentId" value="<%= GetStudentId %>" />
        <input type="hidden" id="StudentNoteId" value="<%= GetStudentNoteId %>" />
        <label>
            Type
        </label>
        <select type="text" name="Xlk_NoteType" id="NoteTypeId">
            <%= GetNoteTypeList()%>
        </select>
        <label>
            Created By
        </label>
        <select name="Users" id="UserId">
            <%= GetNoteUserList() %>
        </select>
        <label>
            Note
        </label>
        <textarea id="Note"><%= GetNote %></textarea>
    </fieldset>
</div>
</form>
