﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"
    CodeFile="PlanAccommodationPage.aspx.cs" Inherits="Accommodation_PlanAccommodationPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <script type="text/javascript">
        $(function () {


            $("#<%= startDate.ClientID %>").datepicker({ dateFormat: 'dd/mm/yy' });
            $("#<%= endDate.ClientID %>").datepicker({ dateFormat: 'dd/mm/yy' });

            getStatusList = function () {
                var selected = new Array();
                $('#<%= familyStatusList.ClientID %> input:checked').each(function () {
                    selected.push($(this.parentNode).attr("statusid"));
                });

                return JSON.stringify(selected);
            }

            deleteHostingAction = function (studentid, hostingid) {
                $("#dialog-message").html('<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>The allocation will be permanently deleted and cannot be recovered. Are you sure?</p>')
        .dialog({
            autoOpen: true,
            resizable: false,
            width: 'auto',
            height: 'auto',
            modal: true,
            buttons: {
                "Delete item": function () {
                    $.ajax({
                        type: "POST",
                        url: "PlanAccommodationPage.aspx/DeleteHosting",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: "{studentid:" + studentid + ", hostingid:" + hostingid + ", statuslist:" + getStatusList() + "}",
                        success: function (msg) {
                            if (msg.d != null) {
                                if (msg.d.Success) {
                                    $('#' + studentid).html(msg.d.Payload);
                                }
                                else
                                    alert(msg.d.ErrorMessage);
                            }
                            else
                                alert("No Response, please contact admin to check!");
                        }
                    });
                    $(this).dialog("close");
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });


            }

            confirmHostingAction = function (studentid, hostingid, actionid) {
                $.ajax({
                    type: "POST",
                    url: "PlanAccommodationPage.aspx/ConfirmHostingAction",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: "{studentid:" + studentid + ", hostingid:" + hostingid + ", statuslist:" + getStatusList() + ", actionid:" + actionid + "}",
                    success: function (msg) {
                        if (msg.d != null) {
                            if (msg.d.Success) {
                                $('#' + studentid).html(msg.d.Payload);
                            }
                            else
                                alert(msg.d.ErrorMessage);
                        }
                        else
                            alert("No Response, please contact admin to check!");
                    }
                });

            }

            assignFamily = function (ddown, studentid) {
                var familyId = $(ddown).val();
                $.ajax({
                    type: "POST",
                    url: "PlanAccommodationPage.aspx/AssignStudentToFamily",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: "{familyid:" + familyId + ", studentid:" + studentid + ", statuslist:" + getStatusList() + "}",
                    success: function (msg) {
                        if (msg.d != null) {
                            if (msg.d.Success) {
                                $('#' + studentid).html(msg.d.Payload);
                            }
                            else
                                alert(msg.d.ErrorMessage);
                        }
                        else
                            alert("No Response, please contact admin to check!");
                    }
                });

            }

            assignFamilyBlock = function (ddown, groupId, groupingBlockId) {
                var familyId = $(ddown).val();
                $.ajax({
                    type: "POST",
                    url: "PlanAccommodationPage.aspx/AssignBlockToFamily",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: "{familyid:" + familyId + ", groupid:" + groupId + ", groupingblockid:" + groupingBlockId + ", statuslist:" + getStatusList() + "}",
                    success: function (msg) {
                        if (msg.d != null) {
                            if (msg.d.Success) {
                                $('#' + groupId + "-" + groupingBlockId).html(msg.d.Payload);
                            }
                            else
                                alert(msg.d.ErrorMessage);
                        }
                        else
                            alert("No Response, please contact admin to check!");
                    }
                });

            }

        });
    </script>
    <style type="text/css">
        .groupheader th
        {
            background: Blue;
        }
        .groupheader th
        {
            text-align: left;
        }
        .DeleteHosting
        {
            background: url('../Content/img/actions/user_delete.png') no-repeat;
            display: inline-block;
            height: 16px;
            width: 16px;
        }
        .ConfirmStudent
        {
            background: url('../Content/img/actions/user_accept.png') no-repeat;
            display: inline-block;
            height: 16px;
            width: 16px;
        }
        .ConfirmArrivalDetails
        {
            background: url('../Content/img/actions/down.png') no-repeat;
            display: inline-block;
            height: 16px;
            width: 16px;
        }
        .ConfirmDepartureDetails
        {
            background: url('../Content/img/actions/up.png') no-repeat;
            display: inline-block;
            height: 16px;
            width: 16px;
        }
        
        .navtdst
        {
            padding-left: 50px;
        }
        
        .navtdst td
        {
            width: 20%;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="maincontent" runat="Server">
    <asp:Label ID="newPageName" runat="server" Text="Plan Accommodation Page" BorderStyle="None" Visible="false"></asp:Label> <!-- Page Name -->
    <div id="searchcontainer">
        <table id="search-table">
            <tbody>
                <tr>
                    <td>
                        Arrival Date is between
                    </td>
                    <td>
                        Start Date
                    </td>
                    <td>
                        <asp:TextBox ID="startDate" runat="server" AutoPostBack="True" OnTextChanged="filterDate_TextChanged" />
                    </td>
                    <td>
                        End Date
                    </td>
                    <td>
                        <asp:TextBox ID="endDate" runat="server" AutoPostBack="True" OnTextChanged="filterDate_TextChanged" />
                    </td>
                    <td>
                        <asp:LinkButton ID="btnsearch" runat="server" class="button"><span>Filter</span></asp:LinkButton>
                    </td>
                </tr>
                <tr>
                    <td>
                        Families with Status to show
                    </td>
                    <td>
                        <asp:CheckBoxList ID="familyStatusList" runat="server" AutoPostBack="true" RepeatDirection="Horizontal"
                            DataTextField="Description" DataValueField="StatusId" RepeatLayout="Table">
                        </asp:CheckBoxList>
                    </td>
                    <td>
                        or by Programme Type
                    </td>
                    <td>
                        <asp:DropDownList ID="listprogrammes" runat="server" DataTextField="Description" AutoPostBack="True"
                            DataValueField="ProgrammeTypeId" AppendDataBoundItems="true" EnableViewState="true">
                            <asp:ListItem Text="All Programmes" Value="-1">
                            </asp:ListItem>
                            <asp:ListItem Text="-------" Value="0">
                            </asp:ListItem>
                        </asp:DropDownList>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="resultscontainer">
        <div id="accordion">
            <%= BuildStudentList()%>
        </div>
    </div>
</asp:Content>
