﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AttendanceGraph.ascx.cs" Inherits="Graphs_AttendanceGraph" %>
<asp:Chart ID="Chart1" runat="server">
    <Series>
        <asp:Series Name="Series1">
        </asp:Series>
    </Series>
    <ChartAreas>
        <asp:ChartArea Name="ChartArea1">
        </asp:ChartArea>
    </ChartAreas>
</asp:Chart>
