﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"
    CodeFile="ManageContactPage.aspx.cs" Inherits="AddContactPage" %>

<asp:Content ID="script" ContentPlaceHolderID="head" runat="server">
    <script type="text/javascript" language="javascript">
        $(function () {

            $("table").tablesorter()

            // a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
            $("#dialog:ui-dialog").dialog("destroy");

            var addtag = $("#addtag"), Id,
                deletetag = $("#deletetag")
            allFields = $([]).add(addtag).add(deletetag);

            function checkLength(o, n, min, max) {
                if (o.val().length > max || o.val().length < min) {
                    o.addClass("ui-state-error");
                    updateTips("Length of " + n + " must be between " +
					min + " and " + max + ".");
                    return false;
                } else {
                    return true;
                }
            }

            toggleStatus = function (id) {
                Id = id;
                $.ajax({
                    type: "POST",
                    url: "ManageContactPage.aspx/ToggleStatus",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: "{'id':" + id + "}",
                    success: function (msg) {
                        if (msg.d != null) {
                            if (msg.d.Success) {
                                $("#deletetag").html(msg.d.Payload);
                                location.reload();
                            }
                            else
                                alert(msg.d.ErrorMessage);
                        }
                        else
                            alert("No Response, please contact admin to check!");
                    }
                });
            }

        });

    </script>
    <style type="text/css">
        label, input
        {
            display: block;
        }
        input.text
        {
            margin-bottom: 12px;
            width: 95%;
            padding: .4em;
        }
        fieldset
        {
            padding: 0;
            border: 0;
            margin-top: 25px;
        }
        h1
        {
            font-size: 1.2em;
            margin: .6em 0;
        }
        .ui-dialog .ui-state-error
        {
            padding: .3em;
        }
        .validateTips
        {
            border: 1px solid transparent;
            padding: 0.3em;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="maincontent" runat="server">
    <asp:Label ID="newPageName" runat="server" Text="Add / Manage Contacts Page" BorderStyle="None" Visible="false"></asp:Label> <!-- Page Name -->
    <div class="resultscontainer">
        <div id="errorcontainer" name="errorcontainer" class="error" runat="server" visible="false">
            <asp:Label ID="errormessage" runat="server" Text=""></asp:Label>
        </div>
        <div class="inputArea">
            <fieldset>
                <label>
                    Category
                </label>
                <asp:DropDownList ID="category" runat="server" DataTextField="Description" DataValueField="CategoryId"
                    AutoPostBack="True" OnSelectedIndexChanged="category_SelectedIndexChanged" OnDataBound="category_DataBound">
                </asp:DropDownList>
                <label>
                    Type
                </label>
                <asp:DropDownList ID="type" runat="server" DataTextField="Description" DataValueField="TypeId"
                    AutoPostBack="True" OnSelectedIndexChanged="type_SelectedIndexChanged" OnDataBound="type_DataBound">
                </asp:DropDownList>
                <label>
                    First Name
                </label>
                <asp:TextBox ID="firstname" runat="server"></asp:TextBox>
                <label>
                    Surname
                </label>
                <asp:TextBox ID="surname" runat="server"></asp:TextBox>
                <label>
                    Landline Number
                </label>
                <asp:TextBox ID="landline" runat="server"></asp:TextBox>
            </fieldset>
            <fieldset>
                <label>
                    Mobile Number
                </label>
                <asp:TextBox ID="mobilenumber" runat="server"></asp:TextBox>
                <label>
                    email
                </label>
                <asp:TextBox ID="contactemail" runat="server"></asp:TextBox>
                <label>
                    address
                </label>
                <asp:TextBox ID="contactaddress" runat="server"></asp:TextBox>
                <label>
                    website (http://........)
                </label>
                <asp:TextBox ID="ContactWebsite" runat="server"></asp:TextBox>
                <asp:LinkButton ID="save" runat="server" class="button" OnClick="Save_Click"><span>Save</span>
                </asp:LinkButton>
            </fieldset>
        </div>
    </div>
    <div id="viewconatiner">
        <div class="resultscontainer">
            <table id="box-table-a" class="tablesorter">
                <thead>
                    <tr>
                        <th scope="col">
                            Id
                        </th>
                        <th scope="col">
                            Name
                        </th>
                        <th scope="col">
                            Mobile Number
                        </th>
                        <th scope="col">
                            Landline
                        </th>
                        <th scope="col">
                            email
                        </th>
                        <th scope="col">
                            address
                        </th>
                        <th scope="col">
                            status
                        </th>
                        <th scope="col">
                            tags
                        </th>
                        <th scope="col">
                            Click to Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <asp:Repeater ID="results" runat="server" EnableViewState="True">
                        <ItemTemplate>
                            <tr>
                                <td style="text-align: left">
                                    <%#DataBinder.Eval(Container.DataItem, "ContactId")%>
                                </td>
                                <td style="text-align: left">
                                    <asp:HyperLink ID="lnkWebsite" runat="server" NavigateUrl='<%#DataBinder.Eval(Container.DataItem, "ContactWebsite") %>'
                                        Target="_blank" ToolTip="Click to visit website">
                                            <%# CreateName(DataBinder.Eval(Container.DataItem, "FirstName"), DataBinder.Eval(Container.DataItem, "SurName"))%>
                                    </asp:HyperLink>
                                </td>
                                <td style="font-weight: bold; text-align: left">
                                    <%#DataBinder.Eval(Container.DataItem, "MobileNumber")%>
                                </td>
                                <td style="text-align: left">
                                    <%#DataBinder.Eval(Container.DataItem, "PhoneNumber")%>
                                </td>
                                <td style="text-align: center">
                                    <asp:HyperLink ID="lnkEmail" runat="server" NavigateUrl='<%#DataBinder.Eval(Container.DataItem, "ContactEmail", "MailTo:{0}") %>'
                                        Target="_blank" ToolTip="Click to open email message window" ImageUrl="~/Content/img/actions/email_go.png">
                                    </asp:HyperLink>
                                </td>
                                <td style="text-align: left">
                                    <asp:HyperLink ID="HyperLink1" runat="server" Text='<%# TrimText(DataBinder.Eval(Container.DataItem, "ContactAddress"),20)%>'
                                        NavigateUrl='<%#String.Format("http://maps.google.com/maps?q="+ DataBinder.Eval(Container.DataItem, "ContactAddress")+"&output=embed") %>'
                                        ToolTip='<%#DataBinder.Eval(Container.DataItem, "ContactAddress") %>' Target="_blank" />
                                </td>
                                <td style="text-align: left">
                                    <a href="#" onclick="toggleStatus('<%# DataBinder.Eval(Container.DataItem, "ContactId")%>');">
                                        <%#DataBinder.Eval(Container.DataItem, "Xlk_Status.Description")%></a>
                                    <td style="text-align: center">
                                        <%# CreateTagList(DataBinder.Eval(Container.DataItem, "Tag"))%></a>
                                    </td>
                                    <td style="text-align: center">
                                        <asp:ImageButton ID="ImageButton1" ToolTip='<%#DataBinder.Eval(Container.DataItem, "ContactId")%>'
                                            runat="server" ImageUrl="~/Content/img/actions/bin_closed.png" OnClick="ImageButton_Click" />
                                    </td>
                            </tr>
                        </ItemTemplate>
                    </asp:Repeater>
                </tbody>
            </table>
        </div>
    </div>
</asp:Content>
