﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AddQuoteNoteControl.ascx.cs"
    Inherits="Quote_AddNote" %>

<script type="text/javascript">
    $(function() {

        getForm = function() {
        return $("#addquotenote");
        }

        getTargetUrl = function() {
            return '<%= ToVirtual("~/Agent/ViewAgentPage.aspx","SaveQuoteNote") %>';
        }

        getLocalRules = function () {
            return {};
        }

        getLocalMessages = function () {
            return {};
        }
    });
    
</script>

<p id="message" style="display: none;">
    All fields must be compltetd</p>
<form id="addquotenote" name="addquotenote" method="post" action="ViewQuotePage.aspx/SaveQuoteNote">
<div class="inputArea">
    <fieldset>
        <input type="hidden" name="Quote" id="QuoteId" value="<%= GetQuoteId %>" />
        <input type="hidden" id="QuoteNoteId" value="<%= GetQuoteNoteId %>" />

        <label>
            Type
        </label>
        <select name="Xlk_NoteType" id="NoteTypeId">
            <%= GetNoteTypeList()%>
        </select>
        <label>
            Created By
        </label>
        <select name="User" id="UserId">
            <%= GetNoteUserList()%>
        </select>
        <label>
            Note
        </label>
        <textarea id="Note"><%= GetNote %></textarea>
    </fieldset>
</div>
</form>
