﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" 
    CodeFile="ManageAgentPage.aspx.cs" Inherits="ManageAgentPage" %>

<asp:Content ID="script" ContentPlaceHolderID="head" runat="server">

</asp:Content>

<asp:Content ID="content2" ContentPlaceHolderID="maincontent" runat="server">
    <asp:Label ID="newPageName" runat="server" Text="Add / Manage Agent Page" BorderStyle="None" Visible="false"></asp:Label> <!-- Page Name -->
    <div class="resultscontainer">
        <div class="inputArea">
            <fieldset>
                <label>
                    Agent Name
                </label>
                <asp:TextBox ID="editagentname" runat="server">
                </asp:TextBox>
                <label>
                    Contact Name
                </label>
                <asp:TextBox ID="editagentcontact" runat="server">
                </asp:TextBox>
                <label>
                    Contact Email
                </label>
                <asp:TextBox ID="editagentemail" runat="server">
                </asp:TextBox>
                <label>
                    Nationality
                </label>
                <asp:DropDownList ID="editagentnat" runat="server" DataTextField="Description" DataValueField="NationalityId" AppendDataBoundItems="true">
                </asp:DropDownList>
            </fieldset>
            <fieldset>
                <label>
                   Address
                </label>
                <asp:TextBox ID="editagentaddress" runat="server" TextMode="MultiLine" Rows="3">
                </asp:TextBox>
                <label>
                    Edit SAGE Reference?
                </label>
                <asp:CheckBox ID="chksage" runat="server" Checked="false" OnCheckedChanged="Toggle_CheckChanged" AutoPostBack="true"/>
                <asp:TextBox ID="editagentsage" runat="server" Enabled="false">
                </asp:TextBox>
                <asp:LinkButton ID="agentsave" runat="server" class="button" OnClick="Click_SaveAgent"><span>Save</span>
                </asp:LinkButton>
            </fieldset>
        </div>
    </div>
</asp:Content>