﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" 
    CodeFile="QuotePage.aspx.cs" Inherits="Agent_QuotePage" %>

<asp:Content ID="script" ContentPlaceHolderID="head" runat="server">
     <script type="text/javascript">
         $(function () {

             $("table").tablesorter()


             $("#viewTabs").tabs({ spinner: 'Retrieving data...' });

             $("#<%= repeat.ClientID %>").buttonset();

             refreshCurrentTab = function () {
                 var selected = $tabs.tabs('option', 'selected');
                 $tabs.tabs("load", selected);
             }

             $('#<%= lookupString.ClientID %>').bind('keypress', function (e) {
                 var code = e.keyCode || e.which;
                 if (code == 13) { //Enter keycode
                     eval($("#<%=searchButton.ClientID %>").attr('href'));
                 }
             });

             var $tabs = $("#tabs").tabs({
                 spinner: 'Retrieving data...',
                 load: function (event, ui) { createPopUp(); $("table").tablesorter(); },
                 ajaxOptions: {
                     contentType: "application/json; charset=utf-8",
                     error: function (xhr, status, index, anchor) {
                         $(anchor.hash).html(
						"Couldn't load this tab. We'll try to fix this as soon as possible. " +
						"If this wouldn't be a demo.");
                     },
                     dataFilter: function (result) {
                         this.dataTypes = ['html']
                         var data = $.parseJSON(result);
                         return data.d;
                     }
                 }
             });
         });
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="maincontent" runat="server">
    <asp:Label ID="newPageName" runat="server" Text="Quotes Page" BorderStyle="None" Visible="false"></asp:Label> <!-- Page Name -->
    <div id="searchcontainer">
        <table id="search-table">
            <tbody>
                <tr>
                    <td style="text-align:right">
                        Search Quotes by Agent
                    </td>
                    <td>
                        <asp:DropDownList ID="listagents" DataTextField="Name" DataValueField="AgencyId" runat="server" AppendDataBoundItems="true">
                            <asp:ListItem Text="Select Agent" Value="-1">
                            </asp:ListItem>
                        </asp:DropDownList>
                    </td>
                    <td style="text-align:right">
                        or by Creator
                    </td>
                    <td>
                        <asp:DropDownList ID="listusers" DataTextField="Name" DataValueField="UserId" runat="server" AppendDataBoundItems="true">
                            <asp:ListItem Text="Select User" Value="-1">
                            </asp:ListItem>
                        </asp:DropDownList>
                    </td>
                    <td style="text-align:right">
                        or by reference
                    </td>
                    <td>
                        <asp:TextBox ID="lookupString" runat="server" class="text ui-widget-content ui-corner-all"
                            EnableViewState="true" Font-Size="X-Large">
                        </asp:TextBox>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="resultscontainer">
        <span id="repeat" runat="server" repeatdirection="Horizontal">
            <asp:LinkButton ID="searchButton" PostBackUrl="~/Agent/QuotePage.aspx" runat="server"
                OnClick="lookupQuote"><span>Search Results</span>
            </asp:LinkButton>
            <a href="?Action=pending">Pending</a>
            <a href="?Action=current">Current</a> 
            <a href="?Action=myquotes">My Quotes</a> 
            <a href="?Action=all">All Quotes</a>
        </span>
        <span style="float: none;">
            <asp:Label ID="resultsreturned" runat="server" Text='Records Found: 0'>
            </asp:Label>
        </span>
        <span style="float:right"><a href="#" onclick="loadEditArrayControl('#dialog-form','QuotePage.aspx','Agent/AddAgencyQuoteControl.ascx',{'AgentId':0})"><img src="../Content/img/actions/add.png" />Add New Quote</a></span>
        <table id="box-table-a" class="tablesorter">
            <thead>
                <tr>
                    <th scope="col">
                        Quote Id
                    </th>
                    <th scope="col">
                        Agent
                    </th>
                    <th scope="col">
                        Description
                    </th>
                    <th scope="col">
                        Created By
                    </th>
                    <th scope="col">
                        Date Created
                    </th>
                    <th scope="col">
                        Status
                    </th>
                    <th scope="col">
                        Arrival - Departure
                    </th>
                    <th scope="col">
                        SAGE Reference
                    </th>
                    <th scope="col">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <asp:Repeater ID="results" runat="server" EnableViewState="true">
                    <ItemTemplate>
                        <tr>
                            <td>
                                <a href="ViewQuotePage.aspx?QuoteId=<%#DataBinder.Eval(Container.DataItem, "QuoteId") %>" title="Click to view Quote" >Quote <%#DataBinder.Eval(Container.DataItem, "QuoteId") %></a>
                            </td>
                            <td>
                                <%#DataBinder.Eval(Container.DataItem, "Agency.Name")%>
                            </td>
                            <td>
                                <%#DataBinder.Eval(Container.DataItem, "Description") %>
                            </td>
                            <td>
                                <%#DataBinder.Eval(Container.DataItem, "CreatedByUser.Name") %>
                            </td>
                            <td>
                                <%#DataBinder.Eval(Container.DataItem, "DateCreated", "{0:D}") %>
                            </td>
                            <td>
                                <%#DataBinder.Eval(Container.DataItem, "Xlk_Status.Description") %>
                            </td>
                            <td>
                                <%#DataBinder.Eval(Container.DataItem, "ArrivalDate", "{0:D}") %> - <%#DataBinder.Eval(Container.DataItem, "DepartureDate", "{0:D}") %>
                            </td>
                            <td>
                                <%#DataBinder.Eval(Container.DataItem, "SageInvoiceRef") %>
                            </td>
                            <td>
                            <a target="_blank" href="<%# ReportPath("AgentReports","Agent_Quote","PDF", new Dictionary<string, object> { { "QuoteId",  DataBinder.Eval(Container.DataItem, "QuoteId")}}) %>"
                                    title="Quote">
                                    <img alt="Print Quote" title="Print Quote" src="../Content/img/actions/printer2.png" /></a>
                            </td>
                        </tr>
                    </ItemTemplate>
                </asp:Repeater>
            </tbody>
        </table>
    </div>
</asp:Content>
