﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AddProgrammeTypeStudentsToBookingControl.ascx.cs"
    Inherits="Excursions_AddStudentToBookingControl" %>
<script type="text/javascript">
    $(function () {

        getForm = function () {
            return $("#addlnkstudentexcursion");
        }

        getTargetUrl = function () {
            return '<%= ToVirtual("~/Excursions/ViewBookingPage.aspx","AssignStudentsByProgrammeType") %>';
        }

        $("#FromDate").datepicker({ dateFormat: 'dd/mm/yy' });

        getLocalRules = function () {
            return {};
        }

        getLocalMessages = function () {
            return {};
        }

    });
    
</script>
<p id="message" style="display: none;">
    All fields must be completed</p>
<form id="addlnkstudentexcursion" name="addlnkstudentexcursion" method="get" action="ViewBookingPage.aspx/SaveLnkStudentExcursion">
<div class="inputArea">
    <fieldset>
        <input type="hidden" id="BookingId" value="<%= GetBookingId %>" />
        <label>
            Programme Type
        </label>
        <select class="target" id="ProgrammeTypeId">
            <%= GetProgrammeTypeList()%>
        </select>
        <label>
            Amount Paid
        </label>
        <input type="text" name="AmountPaid" id="AmountPaid" value="" />
    </fieldset>
</div>
</form>
