﻿body { background:white; color:black; margin:0 }

#myPrintArea fieldset
{
    float: left;
    position:relative;
    border: solid 5px;
    border-color:#D0DAFD;
    background-color: #fff;
}

#twapPrintArea fieldset
{
    float: left;
    position:relative;
    border: solid 1px;
    border-color:#D0DAFD;
    background-color: #fff;
}
.voucherprint
{
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
    margin: 20px;
    text-align: left;
    width: 480px;
    max-width:480px;
}

.voucherprint th {
    color: #003399;
    font-size: 14px;
    font-weight: normal;
    padding: 12px 15px;
}
.voucherprint td {
    border-top: 1px solid #E8EDFF;
    color: #666699;
    padding: 10px 15px;
}

.voucherprint tfoot {

}

.oce-first {
    background: none repeat scroll 0 0 #D0DAFD;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}