﻿*
{
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 9pt;
    margin: 0;
    padding: 0;
    border: 0;
}

input,
select
{
    border:solid 1px #AED0EA;
}

#body
{
    padding: 10px;
}

#searchcontainer, .searchcontainer
{
    margin-top: 20px;
    float: left;
    width: 90%;
    height: 20%;
    padding: 10px;
    border: solid 2px #AED0EA;
    background-color: #FEFEF2;
}
#filtercontainer, .filtercontainer
{
	 display: inline;
    float: left;
    margin-top: 20px;
    float: left;
    width: 20%;
    padding: 10px;
    border: solid 2px #AED0EA;
    background-color: #FEFEF2;
}
#filterresultscontainer
{
	margin-left: 10px;
	margin-top: 20px;
    float: left;
    width: 72%;
    height: 60%;
    padding: 10px;
    border: solid 2px #AED0EA;
    background-color: #FEFEF2;
}

#container
{
    margin-top: 20px;
    float: left;
    width: 90%;
    height: 60%;
    padding: 10px;
    border: solid 2px #AED0EA;
    background-color: #FEFEF2;
}

#inputcontainer
{
    margin-top: 20px;
    float: left;
    width: 30%;
    float:left;
    height: 60%;
    padding: 10px;
    margin-right:5px;
    border: solid 2px #AED0EA;
    background-color: #FEFEF2;
}

.resultsinputcontainer
{
    margin-top: 20px;
    float: left;
    width: 58%;
    height: 60%;
    padding: 10px;
    border: solid 2px #AED0EA;
    background-color: #FEFEF2;
}

.resultscontainer
{
    margin-top: 20px;
    float: left;
    width: 90%;
    height: 60%;
    padding: 10px;
    border: solid 2px #AED0EA;
    background-color: #FEFEF2;
}

#inputtable
{
    width:40%;
}
#inputtable tr td
{
    width:50%;
}
#inputtable tr td *
{
     width:100%;
}

#inputtable2
{
    width:50%;
}
#inputtable2 tr td
{
    width:15%;
}
#inputtable2 tr td *
{
     width:100%;
}

#doubleinputtable
{
    width:100%;
}
#doubleinputtable tr td
{
    width:25%;
}
#doubleinputtable tr td *
{
     width:100%;
}

/* Search Table Layout*/

#search-table , .search-table
{
    border-collapse: collapse;
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 12px;
    text-align: left;
    width: 100%;
}

#search-table tr td, .search-table tr td
{
    width: 16.6%;
}

.error input
{
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 22px;
}

/* Matrix Table Layout */
#matrix-table-a
{
	 border-collapse: collapse;
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 12px;
    text-align: left;
    width: 100%;
}
#matrix-table-a th
{
    background-color: #D7EBF9;
    width:10%;
	border: 1px solid #AED0EA;
    color: #003399;
    font-size: 13px;
    font-weight: normal;
    padding: 4px;
    text-align:left;
}

#matrix-table-a td
{
    background-color:#fff;
    border: 1px solid #AED0EA;
    color: #666699;
    padding: 4px;
    width:23%;
}

/* Result Table Layout */
#box-table-a,.box-table-a
{
    border-collapse: collapse;
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 12px;
    text-align: left;
    width: 100%;
}
#box-table-a th, .box-table-a th
{
    background: url("cupertino/images/ui-bg_highlight-soft_100_deedf7_1x100.png") repeat-x scroll 50% 50% #DEEDF7;
    border: 1px solid #AED0EA;
    /*background-color:#B9C9FE;*/
    border-bottom: 1px solid #FFFFFF;
    border-top: 4px solid #AED0EA;
    color: #003399;
    font-size: 13px;
    font-weight: normal;
    padding: 4px;
}
#box-table-a .groupheader th, .box-table-a .groupheader th
{
    background:#FEFEF2;

}
#box-table-a tr.disabled td,.box-table-a tr.disabled td,#box-table-a tr.Inactive td,.box-table-a tr.Inactive td
{
    background-color:#E8EDFF;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid transparent;
    text-decoration:line-through;
    color: #fff;
    padding: 4px;
}
#box-table-a td,.box-table-a td
{
    background-color:#E8EDFF;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid transparent;
    color: #666699;
    padding: 4px;
}


#box-table-a tr:hover td ,.box-table-a tr:hover td
{
    background: none repeat scroll 0 0 #D0DAFD;
    color: #333399;
}
#box-table-a tr.assigned td,.box-table-a tr.assigned td
{
    background-color:#FFFBCC;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid transparent;
    color: #666699;
    padding: 4px;
}

#box-table-a tr.confirmed td,.box-table-a tr.confirmed td
{
    background-color:#D9FFCC;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid transparent;
    color: #666699;
    padding: 4px;
}

#box-table-a tr.disabled td,.box-table-a tr.disabled td
{
    background-color:#dddddd;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid transparent;
    color: rgb(84, 84, 84);
    padding: 4px;
}


input[type=submit]
{
    cursor:pointer;
}

.contactlabels
{
    text-align:right;
    font-style:italic;
}

thead
{
    text-align:left;
    
}

.horizontalcheckboxes label
{
	float:left;
	width: 4em;
	text-align:center;
	padding:.1em;
}

/* tables */
table.tablesorter {
	margin:10px 0pt 15px;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header 
{
	text-align:left ;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.jpg);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.jpg);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
label
{
    text-align:left;
}

#resultsbox
{
    float:right;
    width: 15%;
    height: 20%;
    font-size:medium;
    font-weight:bold;
    padding: 10px;
    border: solid 2px #AED0EA;
    background-color: #FEFEF2;
    text-align:center;
    cursor:default;
}

#time-table
{
    top:20px;
    left:50px;
    text-align:center;
}

#maps-table
{
    top:20px;
    left:100px;
    text-align:center;
}

#excursion-prices-table
{
    top:20px;
    left:150px;
    text-align:center;
}

#search-maps-table
{
    bottom:60px;
    left:365px;
    position:absolute;
    text-align:center;
    margin-top: 20px;
    width: 230px;
    height: 80px;
    padding: 10px;
    border: solid 2px #AED0EA;
    background-color: #FEFEF2;
}

.linklabel
{
    font-size:large;
    font-weight:bold;
    font-style:italic;
    text-align:center;
}

.linkrow
{
    text-align:center;
}

.linktables
{
    margin-top: 20px;
    float: left;
    position:relative;
    width: 230px;
    height: 300px;
    padding: 10px;
    border: solid 2px #AED0EA;
    background-color: #FEFEF2;
    overflow:scroll;
}

.tableclass
{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.tsize
{
    font-size:medium;
    font-family:Calibri;
}

/* ul menu */
.sidebar
{
    position:fixed;
    font-size:large;
    top:150px;
    right:200px;
    float:inherit;
}

.sidebar ul.menu, .sidebar ul.menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 15em;
}

.sidebar ul.menu a {
  display: block;
  text-decoration: none;	
}

.sidebar ul.menu li {
  margin-top: 1px;
}

.sidebar ul.menu li a, .sidebar ul.menu ul.menu li a {
  background: #333;
  color: #fff;	
  padding: 0.5em;
}

.sidebar ul.menu li a:hover, .sidebar ul.menu ul.menu li a:hover {
  background: #000;
}

.sidebar ul.menu li ul li a, .sidebar ul.menu ul.menu li ul li a {
  background: #ccc;
  color: #000;
  padding-left: 20px;
}

.sidebar ul.menu li ul li a:hover, .sidebar ul.menu ul.menu li ul li a:hover {
  background: #aaa;
  border-left: 5px #000 solid;
  padding-left: 15px;
}
.sidebar ul.menu ul.menu li a:hover {
    border-left: 0;
    padding-left: 0.5em;
}
.sidebar ul.menu ul.menu {
    border-left: 5px #f00 solid;
}
.sidebar ul.menu a.active, .sidebar ul.menu ul.menu li a.active, .sidebar ul.menu a.active:hover, .sidebar ul.menu ul.menu li a.active:hover {
    text-decoration: underline;
    background: #c00;
}
.sidebar div.panel {
    border: 1px #000 solid;
    padding: 5px;
    margin-top: 1px;
}

.sidebar ul.menu div.panel a, .sidebar ul.menu div.panel li a:hover  {
    display :inline;
    color: #666;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    font-weight: bold;
}
.sidebar ul.menu div.panel a:hover {
    color: #000;
    text-decoration: underline;
}

#gendiv
{
    position:fixed;
    float:right;
    bottom:50px;
    font-style:italic;
}

#vouchersearch
{
    margin-top: 20px;
    float: left;
    width: 90%;
    height: 60%;
    padding: 10px;
    border: solid 2px #AED0EA;
    background-color: #FEFEF2;
}

#printref
{
    left:100px;
    bottom:100px;
    float:right;
    width: 15%;
    height: 20%;
    font-size:medium;
    font-weight:bold;
    padding: 10px;
    border: solid 2px #AED0EA;
    background-color: #FEFEF2;
    text-align:center;
}

#btnprint
{
    left:200px;
    bottom:100px;
}

a, a:visited, a:hover, a:active, a:focus {
    direction: ltr;
    outline: 0 none;
}
/* Navigation Styles */

.menu 
{
    background: url("cupertino/images/ui-bg_highlight-soft_100_deedf7_1x100.png") repeat-x scroll 50% 50% #DEEDF7;
    border: 1px solid #AED0EA;
    font: 12px/25px Lucida Grande, Lucida Sans, Arial, sans-serif;
    height: 25px;
    position: relative;
    width: 90%;
    font-weight: bold;
    z-index:20;
}
.menu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    white-space: nowrap;
}
.menu > ul {
    float: left;
}
.menu ul ul {
    left: -9999px;
    position: absolute;
}
.menu > ul > li {
    display: block;
    float: left;
    position: relative;
}
.menu ul ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 0;
}
.menu > ul > li > ul {
    border-radius: 0 0 5px 5px;
    border-top: 0 none;
 /* margin-top:-1px; */
}
.menu a {
    color: #666666;
    display: block;
    font: 11px/25px verdana,arial,sans-serif;
    padding: 0 15px 0 15px;
    text-decoration: none;
}
.menu > ul > li > a {
   
    color: #2779AA;
    float: left;
    font-weight: bold;
}
.menu ul ul li a {
    line-height: 20px;
}
.menu ul li:hover > ul 
{
    min-width:120px;
    left: 0;
    top: 26px;
}
.menu ul ul li:hover > ul {
    left: 100%;
    margin: -31px 0 0 -10px;
    top: auto;
}
.menu li.hasSub
{
	padding-bottom:3px;
}
.menu li.left:hover > ul {
    left: auto;
    right: 0;
    top: 25px;
}
.menu li.left ul li:hover > ul {
    left: auto;
    margin: -31px -10px 0 0;
    right: 100%;
    top: auto;
}
.menu li.left ul a {
    padding: 0 15px 0 30px;
    text-align: right;
}
.menu li a.fly {
    background: url("../img/actions/arrow_right.png") no-repeat scroll right center transparent;
}
.menu li.left ul a.fly {
    background: url("../img/actions/arrow_left.png") no-repeat scroll left center transparent;
}
.menu > ul li:hover > a 
{
    background: url("cupertino/images/ui-bg_glass_50_3baae3_1x400.png") repeat-x scroll 50% 50% #3BAAE3;
    color: #FFFFFF;
}
.menu ul ul li:hover > a, .menu ul ul li:hover > a.fly {
    background: url("cupertino/images/ui-bg_glass_50_3baae3_1x400.png") repeat-x scroll 50% 50% #3BAAE3;
    color: #fff;
    margin-right: 0;
}
.menu > ul > li.close {
    background: none repeat scroll 0 0 transparent;
    display: none;
    height: 32px;
    position: absolute;
    right: -10px;
    top: -22px;
    width: 32px;
}


/* END Navigation Styles */


#printlayout
{
    margin-top: 20px;
    float: left;
    position:relative;
    width: 800px;
    height: 600px;
    padding: 10px;
    border: solid 5px;
    border-width:thick;
    border-color:Black;
    background-color: #FEFEF2;
    overflow:scroll;
}

/* studentdetails table*/
#studentdetails
{
    font-size:medium;
    font-weight:bold;
    background-color: #FEFEF2;
    text-align:center;
}

#studentdetails th
{
    background-color:#B9C9FE;
    border-bottom: 1px solid #FFFFFF;
    border-top: 4px solid #AABCFE;
    color: #003399;
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
}

#studentdetails td
{
    background-color:#E8EDFF;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid transparent;
    color: #666699;
    padding: 8px;
    cursor:default;
}

/* resultscontainer for ManageEnrollmentPage */
.resultscontainer1
{
    margin-top: 100px;
    float: left;
    width: 90%;
    height: 60%;
    padding: 10px;
    border: solid 2px #AABCFE;
    background-color: #FEFEF2;
}

.inputArea
{
    font-size: 13px;
    background-color: #d6e5f4;
    padding: 10px;
    height:100%;
    overflow: hidden
}

.inputArea fieldset input, .inputArea fieldset textarea, .inputArea fieldset select
{
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    width: 250px;
}

.activeField
    {
        background-image: none;
        background-color: #ffffff;
        border: solid 1px #AED0EA;
    }
    
.idle
{
    border: solid 1px #85b1de;
    background-image: url( '../img/blue_bg.png' );
    background-repeat: repeat-x;
    background-position: top;
}

.inputArea fieldset 
{
    border: medium none;
    display: inline;
    float: left;
    margin: 0 0 0 25px;
    padding: 0;
/*    width: 300px;*/
    font-size: 13px;
    background-color: #d6e5f4;
}

/* Nice Buttons*/
.clear 
{ /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}
/*
.button {
    background: transparent url('../img/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; 
    text-decoration: none;
    cursor:pointer;
}

.button span {
    background: transparent url('../img/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
} 

.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; 
}

.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; 
} 
*/
.button, .button:visited
{
	background: #2694E8 url(../img/overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	font-size: 14px;
	font-weight: bold;
	margin-right: 10px;
	color: #fff;
	text-decoration: none;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.button:visited:hover, .button:hover
{
	color: #fff;
	background-color: #fc9200;
}
.button:disabled {
    background: #d3d3d3;
    border: 2px outset ButtonFace;
    cursor: inherit;
}

a.information{
    position:relative; /*this is the key*/
    z-index:24;
    color:#000;
    text-decoration:none}

a.information:hover{z-index:25; background-color:#ff0}

a.information span{display: none}

a.information:hover span
{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:2em; left:2em; width:15em;
    background-color:#E0FFFF; color:#000;
    text-align: center;
}

a.information1{
    position:relative; /*this is the key*/
    z-index:24;
    color:#000;
    text-decoration:none}

a.information1:hover{z-index:25; background-color:#ff0}

a.information1 span{display: none}

a.information1:hover span
{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:1em; left:-15em; width:20em;
    background-color:#FFFF99; color:#000;
    text-align: center;
    box-shadow: 10px 10px black;
}

.shadow {
	margin: 40px;
	background-color: rgb(68,68,68); /* Needed for IEs */

	-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);

	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;
}
.shadow .content {
	position: relative; /* This protects the inner element from being blurred */
	padding: 100px;
	background-color: #DDD;
}

#pagename
{
    position:relative;
    left:370px;
    top:-70px;
}

/*AccommodationActionPage.aspx filter and display*/
#refinements {
    display: inline;
    float: left;
    width: 230px;
}


#accordionMenu, #accordionMenu li {
    display: inline;
    float: left;
    font-family: tahoma;
    width: 100%;
}
#accordionMenu li {
    position: relative;
}
#accordionMenu li .refinementContainer {
    background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
    padding: 0;
    height:100%;
}
.navBlock {
    height: 32px;
    width: 100%;
}

#accordionMenu li a.navBlock {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    text-decoration: none;
    width: 100%;
}

button.updateButton {
    background: url("../css/autotrader/../../images/at/guidedNavigation/btnUpdateResults.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: none;
    height: 18px;
    outline: medium none;
    position: absolute;
    right: 4px;
    text-indent: -999em;
    top: 6px;
    width: 47px;
}

#keywordSearchArea
{
	 background: url("../img/filter/bgKeywordSearchArea.gif") no-repeat scroll 0 0 transparent;
    display: inline;
    float: left;
    height: 90px;
    width: 230px;
}

#keywordSearchArea h3 
{
    font-family: tahoma,verdana !important;
    font-size: 12px;
    font-weight: 700;
    height: 24px;
    margin-left: 8px;
    margin-top: 9px;
}

#keywordSearchArea p#searchInput {
    background: none repeat scroll 0 0 transparent;
    display: inline;
    float: left;
    line-height: 18px;
    margin-top: 6px;
    width: 100%;
}

#keywordSearchArea p#searchInput span {
    color: #000000;
    display: block;
    font-family: tahoma,arial;
    font-size: 9px;
    font-weight: normal;
    margin-left: 8px;
    margin-top: 6px;
}

#keywordSearchArea input#keywordSearch {
    border: 1px solid #015F99;
    color: #000000;
    display: inline;
    float: left;
    font-family: tahoma;
    font-size: 11px;
    height: 18px;
    line-height: 17px;
    margin-left: 8px;
    width: 123px;
}

#keywordSearchArea button#btnKeywordSearch {
    background: url("../css/autotrader/../../images/at/guidedNavigation/btnKeywordSearch.gif") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    font-family: tahoma,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 22px;
    margin: 0 0 0 4px;
    padding: 0 2px;
    text-align: center;
    width: 47px;
}
        
.refinementContainer input {
    display: block;
    float: left;
}

.refinementContainer label {
    color: #000000;
    float: left;
    font-family: tahoma;
    font-size: 11px;
    font-weight: 700;
    line-height: 11px;
    padding: 3px 0;
}

.refinementContainer #bodyTypes label, .refinementContainer #categories label, .refinementContainer #make label {
    width: 148px;
}

.refinementContainer #bodyTypes label {
    width: 135px;
}

.refinementContainer {
    margin-bottom: 10px !important;
}

/* Nice Buttons*/
#personPopupContainer
{
    position:absolute;
    left:0;
    top:0;
    display:none;
    z-index: 20000;
}

.personPopupPopup
{
}

#personPopupContent
{
    background-color: #FFF;
    min-width: 175px;
    min-height: 50px;
}

.personPopupPopup .personPopupImage
{
    margin: 5px;
    margin-right: 15px;
}

.personPopupPopup .corner 
{
    width: 19px;
    height: 15px;
}
    
.personPopupPopup .topLeft 
{
    background: url(../img/popup/balloon_topLeft.png) no-repeat;
}
    
.personPopupPopup .bottomLeft 
{
    background: url(../img/popup/balloon_bottomLeft.png) no-repeat;
}
    
.personPopupPopup .left 
{
    background: url(../img/popup/balloon_left.png) repeat-y;
}
    
.personPopupPopup .right 
{
    background: url(../img/popup/balloon_right.png) repeat-y;
}
    
.personPopupPopup .topRight 
{
    background: url(../img/popup/balloon_topRight.png) no-repeat;
}
    
.personPopupPopup .bottomRight 
{
    background: url(../img/popup/balloon_bottomRight.png) no-repeat;
}
    
.personPopupPopup .top 
{
    background: url(../img/popup/balloon_top.png) repeat-x;
}
    
.personPopupPopup .bottom 
{
    background: url(../img/popup/balloon_bottom.png) repeat-x;
    text-align: center;
}

div#loadingDiv
{
    display: none;
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    background:url(../img/ajax-loader.gif) no-repeat center #fff;
    text-align:center;
    padding:10px;
    font:normal 16px Tahoma, Geneva, sans-serif;
    border:1px solid #666;
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
}

/* layout panel */
.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('success.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('warning.png');
}
.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('error.png');
}

/*############input for recipts############*/

.radio-toolbar input[type="radio"], .radio-toolbar-list input[type="radio"]
{
    display: none;
}
    
.radio-toolbar label
{
    display: inline-block;
    background-color: #ddd;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 16px;
}
    
.radio-toolbar input[type="radio"]:checked + label
{
    background-color: #bbb;
}
    
.companyselector
{
	float:right;
}
.appname
{
font-weight:normal;
color:#0A0AF0;
letter-spacing:5pt;
word-spacing:-1pt;
font-size:25px;
text-align:left;
font-family:impact, sans-serif;
line-height:2;
}


.familygrouped
{
    position:relative;
}
.familyremove{
    position: absolute;
    right: 0;
    top: 0;
}
.familyhighlight{


}